$badge-bg: rgb(244, 67, 54);
$accent: rgb(0, 120, 212);
$scrollbar-thumb-bg: rgb(133, 133, 133);
$banner-header-name-fg: rgb(255, 255, 255);
$alt-fg: rgb(255, 255, 255);
$mentioned-bg: rgba(252, 198, 104, 0.2);
$mentioned-bar-bg: #f1b449;
$window-control-hover-bg: #000;
$window-close-hover-bg: #E81123;
$window-decoration-border: rgb(93, 93, 93);