#{$main-themeLight} {
    --skypecord-sidebar-bg: rgb(240, 244, 248);
    --skypecord-sidebar-item-hov-bg: rgba(199, 237, 252, 0.5);
    --skypecord-sidebar-item-sel-bg: rgb(199, 237, 252);
    --skypecord-main-bg: rgb(255, 255, 255);
    --skypecord-main-fg: rgb(37, 36, 35);
    --skypecord-icon-fg: rgb(43, 44, 51);
    --skypecord-banner-fallback-bg: rgb(0, 120, 212);
    --skypecord-banner-icon-fg: rgb(255, 255, 255);
    --skypecord-divider-fg: rgb(138, 141, 145);
    --skypecord-nav-divider-fg: rgb(213, 217, 222);
    --skypecord-border-fg: rgb(213, 217, 222);
    --skypecord-header-fg: rgb(138, 141, 145);
    --skypecord-placeholder-fg: rgb(138, 141, 145);
    --skypecord-unread-indicator-bg: rgb(37, 36, 35);
    --skypecord-input-box-bg: rgb(255, 255, 255);
    --skypecord-message-bg: rgb(242, 246, 249);
    --skypecord-textarea-bg: rgb(241, 241, 244);
}