.theme-dark {
    --skypecord-app-bg: rgb(0, 0, 0);
    --skypecord-window-titlebar-fg: rgb(255, 255, 255);
    --skypecord-toggle-bg: rgb(138, 141, 145);
    --skypecord-button-fg: rgb(204, 204, 204);
    --skypecord-border-fg: rgb(43, 44, 51);
    --skypecord-button-border: rgb(255, 255, 255);
    --skypecord-header-button-bg: rgb(43, 51, 59);
    --skypecord-new-message-bar-bg: #1686D9;
    --skypecord-message-bg: #1E2224;
    --skypecord-modal-bg: var(--skypecord-secondary-bg);
    --skypecord-avatar-bg: #2B2C33;
    --skypecord-menu-item-bg: rgb(64, 64, 64);
    --skypecord-slider-bg: transparent;
    --skypecord-slider-grabber-bg: rgb(138, 141, 145);
    --skypecord-tooltip-bg: rgb(43, 43, 43);
    --skypecord-tooltip-fg: rgb(213, 217, 222);
    --skypecord-tooltip-border: rgb(118, 118, 118);
    --skypecord-primary-bg: rgb(0, 0, 0);
    --skypecord-secondary-bg: rgb(31, 31, 31);
    --skypecord-floating-bg: rgb(43, 43, 43);
    --skypecord-hover-modifier: rgb(30, 34, 36);
    --skypecord-active-modifier: rgb(30, 34, 36);
    --skypecord-selected-modifier: rgb(43, 51, 59);
    --skypecord-channeltextarea-bg: rgb(43, 44, 51);
    --skypecord-primary-fg: rgb(255, 255, 255);
    --skypecord-secondary-fg: rgb(138, 141, 145);
    --header-primary: var(--skypecord-primary-fg);
    --header-secondary: var(--skypecord-secondary-fg);
    --text-normal: var(--skypecord-primary-fg);
    --text-muted: var(--skypecord-primary-fg);
    --text-link: var(--skypecord-primary-fg);
    --channels-default: var(--skypecord-primary-fg);
    --interactive-normal: var(--skypecord-primary-fg);
    --interactive-hover: var(--skypecord-primary-fg);
    --interactive-active: var(--skypecord-primary-fg);
    --interactive-muted: var(--skypecord-primary-fg);
    --background-primary: var(--skypecord-primary-bg);
    --background-secondary: var(--skypecord-secondary-bg);
    --background-tertiary: var(--skypecord-primary-bg);
    // --background-accent: #4f545c;
    --background-floating: var(--skypecord-floating-bg);
    --background-modifier-hover: var(--skypecord-hover-modifier);
    --background-modifier-active: var(--skypecord-active-modifier);
    --background-modifier-selected: var(--skypecord-selected-modifier);
    --background-modifier-accent: var(--skypecord-border-fg);
    /* Box shadows */
    --elevation-low: none;
    --elevation-high: none;
    --guild-header-text-shadow: none;
    /* /Box shadows */
    --channeltextarea-background: var(--skypecord-channeltextarea-bg);
    // --activity-card-background: #202225;
    --deprecated-panel-background: var(--skypecord-secondary-bg);
    --deprecated-card-bg: transparent;
    --deprecated-card-editable-bg: transparent;
    --deprecated-store-bg: var(--skypecord-primary-bg);
    --deprecated-quickswitcher-input-background: var(--skypecord-primary-bg);
    // --deprecated-text-input-bg: rgba(0,0,0,0.1);
    // --deprecated-text-input-border: rgba(0,0,0,0.3);
    // --deprecated-text-input-border-hover: #040405;
    // --deprecated-text-input-border-disabled: #202225;
    // --deprecated-text-input-prefix: #dcddde;
}