.theme-dark {
    // --header-primary: #fff;
    --header-secondary: rgb(138, 141, 145);
    --text-normal: rgb(255, 255, 255);
    --text-muted: rgb(255, 255, 255);
    --text-link: rgb(255, 255, 255);
    --channels-default: rgb(255, 255, 255);
    --interactive-normal: rgb(204, 204, 204);
    --interactive-hover: rgb(204, 204, 204);
    --interactive-active: rgb(204, 204, 204);
    --interactive-muted: rgb(204, 204, 204);
    --background-primary: rgb(0, 0, 0);
    --background-secondary: rgb(31, 31, 31);
    --background-tertiary: rgb(0, 0, 0);
    // --background-accent: #4f545c;
    --background-floating: #2b2b2b;
    --background-modifier-hover: rgb(30, 34, 36);
    --background-modifier-active: rgb(30, 34, 36);
    --background-modifier-selected: rgb(43, 51, 59);
    --background-modifier-accent: var(--skypecord-border-fg);
    // --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    // --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    // --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #2B2C33;
    // --activity-card-background: #202225;
    --deprecated-panel-background: var(--background-secondary);
    --deprecated-card-bg: transparent;
    --deprecated-card-editable-bg: transparent;
    --deprecated-store-bg: var(--background-primary);
    --deprecated-quickswitcher-input-background: var(--background-tertiary);
    // --deprecated-text-input-bg: rgba(0,0,0,0.1);
    // --deprecated-text-input-border: rgba(0,0,0,0.3);
    // --deprecated-text-input-border-hover: #040405;
    // --deprecated-text-input-border-disabled: #202225;
    // --deprecated-text-input-prefix: #dcddde;
    --skypecord-app-bg: rgb(0, 0, 0);
    --skypecord-window-titlebar-fg: rgb(255, 255, 255);
    --skypecord-toggle-bg: #8A8D91;
    --skypecord-button-fg: rgb(204, 204, 204);
    --skypecord-border-fg: rgb(43, 44, 51);
    --skypecord-button-border: rgb(255, 255, 255);
    --skypecord-header-button-bg: rgb(43, 51, 59);
    --skypecord-new-message-bar-bg: #1686D9;
    --skypecord-message-bg: #1E2224;
    --skypecord-modal-bg: var(--background-secondary);
    --skypecord-avatar-bg: #2B2C33;
    --skypecord-menu-item-bg: #404040;
    --skypecord-slider-bg: transparent;
    --skypecord-slider-grabber-bg: #8A8D91;
    --skypecord-tooltip-bg: #2B2B2B;
    --skypecord-tooltip-fg: rgb(213, 217, 222);
    --skypecord-tooltip-border: #767676;
}