.theme-light {
    --header-primary: rgb(37, 36, 35);
    --header-secondary: rgb(138, 141, 145);
    --text-normal: rgb(37, 36, 35);
    --text-muted: rgb(37, 36, 35);
    --text-link: rgb(37, 36, 35);
    --channels-default: rgb(37, 36, 35);
    --interactive-normal: rgb(37, 36, 35);
    --interactive-hover: rgb(37, 36, 35);
    --interactive-active: rgb(37, 36, 35);
    --interactive-muted: rgb(37, 36, 35);
    // --background-primary: #fff;
    --background-secondary: rgb(240, 244, 248);
    --background-tertiary: rgb(255, 255, 255);
    // --background-accent: #747f8d;
    --background-floating: rgb(242, 242, 242);
    --background-modifier-hover: rgba(199, 237, 252, 0.5);
    --background-modifier-active: rgba(199, 237, 252, 0.5);
    --background-modifier-selected: rgb(199, 237, 252);
    --background-modifier-accent: var(--skypecord-border-fg);
    // --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
    // --elevation-high: 0 8px 16px rgba(0,0,0,0.16);
    // --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
    --channeltextarea-background: rgb(241, 241, 244);
    // --activity-card-background: #fff;
    --deprecated-panel-background: var(--background-secondary);
    --deprecated-card-bg: transparent;
    --deprecated-card-editable-bg: transparent;
    --deprecated-store-bg: var(--background-primary);
    --deprecated-quickswitcher-input-background: var(--background-tertiary);
    // --deprecated-text-input-bg: rgba(79,84,92,0.02);
    // --deprecated-text-input-border: rgba(79,84,92,0.3);
    // --deprecated-text-input-border-hover: #b9bbbe;
    // --deprecated-text-input-border-disabled: #dcddde;
    // --deprecated-text-input-prefix: #b9bbbe;
    --skypecord-app-bg: #E5E4E8;
    --skypecord-window-titlebar-fg: rgb(0, 0, 0);
    --skypecord-toggle-bg: rgb(138, 141, 145);
    --skypecord-button-fg: rgb(43, 44, 51);
    --skypecord-border-fg: rgb(213, 217, 222);
    --skypecord-button-border: rgb(43, 44, 51);
    --skypecord-header-button-bg: rgb(241, 241, 244);
    --skypecord-new-message-bar-bg: rgb(22, 134, 217);
    --skypecord-message-bg: rgb(242, 246, 249);
    --skypecord-modal-bg: var(--background-primary);
    --skypecord-avatar-bg: rgb(229, 228, 232);
    --skypecord-menu-item-bg: rgb(218, 218, 218);
    --skypecord-slider-bg: rgb(240, 244, 248);
    --skypecord-slider-grabber-bg: rgb(213, 217, 222);
    --skypecord-tooltip-bg: #F2F2F2;
    --skypecord-tooltip-fg: rgb(37, 36, 35);
    --skypecord-tooltip-border: #CCC;
}