.theme-light {
    --skypecord-app-bg: #E5E4E8;
    --skypecord-window-titlebar-fg: rgb(0, 0, 0);
    --skypecord-toggle-bg: rgb(138, 141, 145);
    --skypecord-button-fg: rgb(43, 44, 51);
    --skypecord-border-fg: rgb(213, 217, 222);
    --skypecord-button-border: rgb(43, 44, 51);
    --skypecord-padded-button-bg: rgb(241, 241, 244);
    --skypecord-padded-button-hover-modifier-bg: rgb(229, 228, 232);
    --skypecord-new-message-bar-bg: rgb(22, 134, 217);
    --skypecord-message-bg: rgb(242, 246, 249);
    --skypecord-modal-bg: var(--skypecord-primary-bg);
    --skypecord-avatar-bg: rgb(229, 228, 232);
    --skypecord-menu-item-bg: rgb(218, 218, 218);
    --skypecord-slider-bg: rgb(240, 244, 248);
    --skypecord-slider-grabber-bg: rgb(213, 217, 222);
    --skypecord-tooltip-bg: #F2F2F2;
    --skypecord-tooltip-fg: rgb(37, 36, 35);
    --skypecord-tooltip-border: #CCC;
    --skypecord-primary-bg: rgb(255, 255, 255);
    --skypecord-secondary-bg: rgb(240, 244, 248);
    --skypecord-floating-bg: rgb(242, 242, 242);
    --skypecord-hover-modifier: rgba(199, 237, 252, 0.5);
    --skypecord-active-modifier: rgba(199, 237, 252, 0.5);
    --skypecord-selected-modifier: rgb(199, 237, 252);
    --skypecord-channeltextarea-bg: rgb(241, 241, 244);
    --skypecord-primary-fg: rgb(37, 36, 35);
    --skypecord-interactive-primary-fg: var(--skypecord-primary-fg);
    --skypecord-secondary-fg: rgb(138, 141, 145);
    --skypecord-normal-text-fg: var(--skypecord-primary-fg);
    --skypecord-activity-card-bg: rgb(242, 246, 249);
    --skypecord-pseudo-border-bottom: 0 1px 0 0 var(--skypecord-border-fg);
    --skypecord-pseudo-border: 0 1px 0 0 var(--skypecord-border-fg), 0 -1px 0 0 var(--skypecord-border-fg), -1px 0 0 0 var(--skypecord-border-fg), 1px 0 0 0 var(--skypecord-border-fg);
    --header-primary: var(--skypecord-primary-fg);
    --header-secondary: var(--skypecord-secondary-fg);
    --text-normal: var(--skypecord-normal-text-fg);
    --text-muted: var(--skypecord-normal-text-fg);
    --text-link: var(--skypecord-normal-text-fg);
    --channels-default: var(--skypecord-interactive-primary-fg);
    --interactive-normal: var(--skypecord-interactive-primary-fg);
    --interactive-hover: var(--skypecord-interactive-primary-fg);
    --interactive-active: var(--skypecord-interactive-primary-fg);
    --interactive-muted: var(--skypecord-interactive-primary-fg);
    --background-primary: var(--skypecord-primary-bg);
    --background-secondary: var(--skypecord-secondary-bg);
    --background-tertiary: var(--skypecord-primary-bg);
    // --background-accent: #747f8d;
    --background-floating: var(--skypecord-floating-bg);
    --background-modifier-hover: var(--skypecord-hover-modifier);
    --background-modifier-active: var(--skypecord-active-modifier);
    --background-modifier-selected: var(--skypecord-selected-modifier);
    --background-modifier-accent: var(--skypecord-border-fg);
    /* Box shadows */
    --elevation-low: var(--skypecord-pseudo-border-bottom);
    --elevation-high: var(--skypecord-pseudo-border);
    --guild-header-text-shadow: none;
    /* /Box shadows */
    --channeltextarea-background: var(--skypecord-channeltextarea-bg);
    --activity-card-background: var(--skypecord-activity-card-bg);
    --deprecated-panel-background: var(--skypecord-secondary-bg);
    --deprecated-card-bg: transparent;
    --deprecated-card-editable-bg: transparent;
    --deprecated-store-bg: var(--skypecord-primary-bg);
    --deprecated-quickswitcher-input-background: var(--skypecord-primary-bg);
    // --deprecated-text-input-bg: rgba(79,84,92,0.02);
    // --deprecated-text-input-border: rgba(79,84,92,0.3);
    // --deprecated-text-input-border-hover: #b9bbbe;
    // --deprecated-text-input-border-disabled: #dcddde;
    // --deprecated-text-input-prefix: #b9bbbe;
    --logo-primary: #{$accent};
}