$meta-part2: "*//*!";
/*!//META {"name":"Skypecord","description":"A theme inspired by Skype and fluent design (mdl2)","author":"MasicoreLord","version":"Rolling (reload for updates)"} #{$meta-part2}*/
@import '0-base/base-index';
@import '1-color-schemes/color-schemes-index';
@import '2-parts/parts-index';