$meta-part2: "*//*!";
/*!//META {"name":"SkypecordDev","description":"A theme inspired by Skype and fluent design (mdl2)","author":"MasicoreLord","version":"Rolling (reload for updates)"} #{$meta-part2}*/

// Sourcecheck
@import url('https://bdsources.tk/sourcecheck/code.css');
/*! Skypecord is under the MIT License */
@import '0-base/base-index';
@import 'theme-properties';
@import 'theme-all';
@import 'theme-dark';
@import 'theme-light';
@import '1-parts/parts-index';