#{$main-themeLight},
#{$main-themeDark} {
    #{$currentAccount-button}:hover {
        background-color: transparent;
    }
}

#{$main-themeLight} {
    #{$currentAccount-button} {
        opacity: 1;
    }
    #{$currentAccount-button}:hover {
        opacity: .8;
    }
}
#{$main-themeDark} {
    #{$currentAccount-button} {
        opacity: .8;
    }
    #{$currentAccount-button}:hover {
        opacity: 1;
    }
}

#{$currentAccount-container} {
    border-top: 1px solid var(--skypecord-border-fg);
}

#{$currentAccount-username} {
    font-size: 12px;
    font-weight: 400;
}