#{$channelList-header} {
    height: 88px;
}

#{$channelList-headerContainer} {
    box-shadow: 0 1px 0 var(--skypecord-border-fg);
}

#{$channelList} {
    border-right: 1px solid;
    border-radius: 0;
}

#{$channelList} {
    &,
    #{$client-win} & {
        border-radius: 0;
    }
}

#{$channelListBanner-background} {
    border-radius: 0!important;
}

#{$channelList-itemMutedInner}::after {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    background-color: var(--skypecord-primary-fg);
    -webkit-mask-image: var(--skypecord-muted-slash);
    mask-image: var(--skypecord-muted-slash);
    width: 18px;
    height: 18px;
}

#{$main-themeLight},
#{$main-themeDark} {
    #{$channelList-header} {
        border-color: var(--skypecord-border-fg);
    }
    #{$channelList} {
        border-color: var(--skypecord-border-fg);
    }
}
#{$channelList-headerContainer} #{$channelList-header}:hover,
#{$channelList-headerContainerSelected} #{$channelList-header} {
    background-color: transparent;
}

#{$channelList} #{$badge} {
    background-color: $accent!important;
}

#{$channelList-categoryName} {
    font-size: 12px;
    font-weight: 600;
}

#{$channelList-itemContent} {
    padding: 1px 8px 1px 16px;
    margin: 0;
    border-radius: 0;
}