[style*='color: rgb(114, 137, 218);'] {
    color: $accent!important;
}

[style*='background-color: rgb(114, 137, 218);'] {
    background-color: $accent!important;
    color: $alt-fg!important;
}

[style*='border-color: rgb(114, 137, 218);'] {
    border-color: $accent!important;
}

a {
    color: $link-fg;
}


/* Layout Flexibility Fix (to better support additional panels that plugins may add) */
#{$chat-base} {
    width: 100%;
}

#{$client-container} {
    display: flex;
    flex-direction: row;
}

#{$mainNavList-wrapper},
#{$chat-base} {
    position: static;
    contain: none;
}
/* /Layout Flexibility Fix */

#{$client-buttonFilled}#{$client-buttonAccentFilled} {
    background-color: transparent;
}

#{$client-buttonFilled}#{$client-primaryButton} {
    background-color: $accent;
    color: $alt-fg;
    &:hover {
        background-color: rgba($accent, .7);
    }
}
/* Unmute */
[name='Nova_Microphone'],
[name='Nova_MicrophoneMute'] {
    -webkit-mask-image: var(--skypecord-mic-icon);
    mask-image: var(--skypecord-mic-icon);
    background-color: var(--interactive-normal);
}
/* Mute */
[name='Nova_MicrophoneMute'] {
    -webkit-mask-image: var(--skypecord-muted-mic-icon);
    mask-image: var(--skypecord-muted-mic-icon);
    background-color: var(--interactive-normal);
}
/* Undeafen */
[name='Nova_Headset'] {
    -webkit-mask-image: var(--skypecord-headphone-icon);
    mask-image: var(--skypecord-headphone-icon);
    background-color: var(--interactive-normal);
}
/* Deafen */
[name='Nova_HeadsetDeafen'] {
    -webkit-mask-image: var(--skypecord-deafened-headphone-icon);
    mask-image: var(--skypecord-deafened-headphone-icon);
    background-color: var(--interactive-normal);
}
/* Settings */
[name='Gear'] {
    -webkit-mask-image: var(--skypecord-ellipsis-icon);
    mask-image: var(--skypecord-ellipsis-icon);
    background-color: var(--interactive-normal);
}

#{$botTag-regular} {
    background-color: $accent;
}

#app-mount {
    background-color: var(--skypecord-app-bg);
}

#{$client-buttonFilled}#{$client-buttonAccentFilled} {
    border: 1px solid;
}

[name='Nova_MicrophoneMute'],
[name='Nova_Microphone'],
[name='Nova_HeadsetDeafen'],
[name='Nova_Headset'],
[name='Gear'] {
    -webkit-mask-size: 100%;
    mask-size: 100%;
    path {
        fill: none;
    }
}

#{$client-minButton} {
    height: auto;
    border-radius: 12px;
}

#{$client-smallButton} {
    height: 32px;
    border-radius: 16px;
}

#{$client-buttonNormal} {
    height: 32px;
    border-radius: 16px;
}

#{$client-mediumButton} {
    height: 38px;
    border-radius: 19px;
}

#{$client-largeButton} {
    height: 44px;
    border-radius: 22px;
}

#{$botTag} {
    height: 1.28em; /* ensure typical bot tag height is used */
    line-height: .8125rem;
    border-radius: 0.8em;
}