#{$mainNavList-wrapper} {
    border-radius: 0;
    border-right: 1px solid;
    box-sizing: border-box;
    #{$client-macOs} & {
        margin-top: 0;
    }
}

#{$mainNavList-itemMaskContainer} {
    border-radius: 50%;
    background-color: var(--skypecord-avatar-bg);
}

#{$mainNavList-indicator} {
    border-radius: 0 2px 2px 0;
}

#{$mainNavList-separater} {
    width: 56px;
    border-radius: 2px;
}

#{$client-macOs} #{$mainNavList-scroller} {
    padding-top: 4px;
}

#{$mainNavList-itemInner} {
    font-weight: 600;
}

#{$mainNavList-itemInnerContainer}:active,
#{$mainNavList-itemInnerWrapper}:active {
    transform: translate(0);
}

#{$mainNavList-folderExpandedGuilds} #{$mainNavList-item} {
    margin-left: 4px;
}

#bd-pub-button /* BandagedBD */ {
    font-weight: 500;
    border: 1px solid;
    border-radius: 10px;
    line-height: 18px;
}


#{$mainNavList-itemButton},
#{$mainNavList-actionButton} {
    &::after {
        color: var(--skypecord-primary-fg);
    }
}
#{$mainNavList-wrapper} {
    border-color: var(--skypecord-border-fg);
}
#{$mainNavList-itemInner} {
    a {
        color: $accent;
    }
}
#{$mainNavList-folder} {
    &,
    &#{$mainNavList-folderHover} {
        background-color: transparent;
    }
}
#{$mainNavList-folderExpandedBackground} {
    &,
    &#{$mainNavList-folderHover} {
        background-color: transparent;
    }

    &#{$mainNavList-folderCollapsed},
    &#{$mainNavList-folderCollapsed} + #{$mainNavList-item} #{$mainNavList-itemInner} {
        background-color: transparent;
    }
}
#{$mainNavList-childWrapper} {
    &,
    &:hover,
    #{$mainNavList-itemButton}#{$mainNavList-homeSelected} & {
        background-color: transparent;
    }
}
#{$mainNavList-itemAcronym},
#{$mainNavList-homeIcon} {
    color: $accent;
}

#{$mainNavList-itemButton} {
    background-color: var(--skypecord-avatar-bg);
}

#bd-pub-button /* BandagedBD */ {
    color: var(--skypecord-button-fg);
    background-color: transparent;
    border-color: var(--skypecord-button-border);
}

#{$mainNavList-itemAcronym},
#{$mainNavList-homeButton} {
    &,
    &:hover,
    &#{$mainNavList-homeSelected},
    &#{$mainNavList-guildNoIconSelected},
    &#{$mainNavList-actionSelected},
    &#{$mainNavList-nestedItem} {
        background-color: var(--skypecord-avatar-bg);
        color: $accent;
    }
}
#{$mainNavList-wrapper} {
    #{$badge} {
        background-color: $accent!important;
    }
}