#{$client-headerBar} {
    height: 88px;
    padding-left: 20px;
    padding-right: 24px;
}

#{$client-headerContent} {
    flex-direction: column;
    align-items: flex-start;
    > #{$chat-headerButtonIconWrapper},
    &::after {
        display: none;
    }
}

#{$client-topic} {
    width: 100%;
}


#{$client-headerContentDivider},
#{$chat-headerStatus},
#{$chat-akaBadge} {
    display: none;
}

#{$client-topic},
#{$chat-nicknames} {
    padding-left: 0;
    margin-left: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    top: 0;
    strong {
        font-weight: 800;
    }
}

// Ensures font weight is still kept even w/ Discord's media query on it
@media (-webkit-max-device-pixel-ratio: 1) {
    #{$main-themeLight},
    #{$main-themeDark} {
        #{$client-topic} {
            font-weight: 700;
            strong {
                font-weight: 800;
            }
        }
    }
}


#{$page-searchBar},
#{$chat-searchBarInner} {
    background-color: transparent;
}

#{$client-headerBar} {
    #{$library-filter},
    #{$store-browseSearch},
    #{$chat-searchBarWrapper} {
        margin: 0 16px;
        + #{$chat-headerButtonIconWrapper} {
            margin-left: 0;
        }
    }
}

#{$chat-searchBar} .DraftEditor-root .public-DraftEditorPlaceholder-root,
#{$page-searchBar} #{$page-filterInput} {
    padding-left: 2px;
    padding-right: 2px;
}

#{$client-toolbar} #{$chat-headerButtonIconWrapper} {
    margin-left: 8px;
    margin-right: 0;
    background-color: var(--skypecord-header-button-bg);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

#{$chat-headerIconBadge} {
    left: 22px;
    top: 21px;
}

#{$chat-titleText},
#{$client-headerTitle} {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

#{$client-headerTitle} {
    height: 30px;
}

#{$chat-searchBarIcon},
#{$page-iconContainer} {
    order: -1;
}

#{$chat-searchBarIcon} {
    margin-right: 0;
    margin-left: 0;
}

#{$chat-titleInput} {
    font-size: inherit;
}