#{$modal-root} {
    height: 660px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

#{$modal-body} {
    height: unset;
    flex-grow: 1;
    overflow: auto;
}

#{$modal-topSectionNormal} {
    background-image: $modal-header-bg;
}

#{$modal-additionalActionsIcon} {
    transform: rotate(-90deg);
    background-size: 100%;
}

#{$client-themedPopout} {
    border: none;
}

#{$modal-body} {
    background-color: var(--skypecord-modal-bg);
}

#{$modal-topSection} {
    #{$profile-username},
    #{$profile-discriminator} {
        color: $alt-fg;
    }
    #{$modal-additionalActionsIcon} {
        background-image: $alt-ellipsis-icon;
        &,
        &:hover {
            color: transparent;
        }
    }
    #{$modal-tabBarItem} {
        &,
        &:hover {
            color: $alt-fg!important;
            &:active,
            &#{$modal-itemSelected} {
                border-color: $alt-fg!important;
            }
        }
    }
}

#{$modal-topSectionNormal} #{$modal-tabBarContainer} {
    border-top-color: transparent;
    background-color: rgba(0, 0, 0, .05)
}

#{$profile-note} textarea {
    &:focus {
        background-color: transparent;
    }
}
#{$messagesPopout-wrap} {
    max-height: calc(100vh - 80px)!important;
}
#{$client-popoutBottom},
#{$client-popoutBottomLeft},
#{$client-popoutNoArrow},
#{$client-popoutTopLeft},
#{$client-popoutTopRight} {
    &,
    &#{$client-popoutNoArrow} {
        margin: 0;
    }
}