#{$chat-guildMenu} {
    border-radius: 0;
}

#{$chat-guildMenuItem} {
    padding: 10px 13px;
    font-size: 14px;
    line-height: 17px;
    &:hover {
        background-color: var(--skypecord-menu-item-bg);
    }
}

#{$searchPopout-option} {
    border-radius: 0;
    margin: 0;
    padding: 10px 13px;
    font-size: 14px;
    line-height: 17px;
    height: unset;
    &:hover,
    &#{$searchPopout-optionSelected} {
        #{$main-themeLight} &,
        #{$main-themeDark} & {
            background-color: var(--skypecord-menu-item-bg);
        }
    }
    &::after {
        display: none;
    }
}

#{$searchPopout-searchOption} {
    #{$searchPopout-filter} {
        #{$main-themeLight} &,
        #{$main-themeDark} & {
            color: var(--skypecord-primary-fg);
        }
    }
    #{$searchPopout-answer} {
        #{$main-themeDark} &,
        #{$main-themeLight} & {
            color: var(--skypecord-secondary-fg);
        }
    }
}

#{$searchPopout-container}:empty {
    display: none;
}

#{$searchPopout-resultsGroup} {
    #{$searchPopout-header},
    #{$searchPopout-learnMore} {
        #{$main-themeLight} &,
        #{$main-themeDark} & {
            color: var(--skypecord-primary-fg);
        }
    }
}


#{$searchPopout-container} {
    box-shadow: none;
    #{$main-themeLight} &,
    #{$main-themeDark} & {
        background-color: var(--skypecord-floating-bg);
    }
}
#{$searchPopout-calenderPicker} .react-datepicker,
#{$searchPopout-calenderPicker} .react-datepicker__header {
    background-color: transparent;
}

// Caps height of user popouts so they don't go off-screen
#{$userPopout} {
    max-height: 100vh;
    #{$client-win} &,
    #{$client-macOs} & {
        max-height: calc(100vh - 32px);
    }
}

// Ensures they aren't covering the titlebar
//%user-popout-position-fix {
//    top: 32px!important;
//}
//@for $i from 0 through 31 {
//    #{$layerContainer-layer} {
//        #{$client-win} &,
//        #{$client-macOs} & {
//            &[style*='top: #{$i}'] {
//                @extend %user-popout-position-fix;
//            }
//        }
//    }
//}