#{$tooltipAlert} {
    --skypecord-tooltip-border: red;
}

.theme-light,
.theme-dark {
    #{$tooltip} {
        background-color: var(--skypecord-tooltip-bg);
        color: var(--skypecord-tooltip-fg);
        box-shadow: none;
        border-color: var(--skypecord-tooltip-border);
    }
}

#{$tooltip} {
    border-radius: 0;
    border: 1px solid;
    font-size: 12px;
    animation: skypecord-fade .2s ease-in-out;
}

#{$tooltip-pointer} {
    display: none;
}