#{$main-app} {
    --skypecord-window-control-spacer: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='12' viewBox='0 0 33 12'%3E%3C/svg%3E");
    --skypecord-titlebar-text: 'Skypecord v0.4.4 Alpha'
}