$badge-bg: rgb(244, 67, 54);
$accent: rgb(0, 120, 212);
$link-fg: rgb(22, 134, 217);
$scrollbar-thumb-bg: rgb(133, 133, 133);
$banner-header-name-fg: rgb(255, 255, 255);
$jump-to-present-bar-bg: rgba(229, 228, 232, 0.8);
$jump-to-present-bar-fg: rgb(43, 44, 51);
$alt-fg: rgb(255, 255, 255);
$mentioned-bg: rgba(252, 198, 104, 0.2);
$mentioned-bar-bg: #f1b449;
$window-control-hover-bg: #000;
$window-close-hover-bg: #E81123;
$window-decoration-border: rgb(93, 93, 93);
$modal-header-bg: linear-gradient(90deg, rgb(0, 188, 242), rgb(0, 120, 212));
$slider-bg: linear-gradient(90deg, rgb(0, 188, 242), rgb(0, 120, 212));
$alt-ellipsis-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' height='32' width='32'%3E%3Cg fill='%23fff' transform='translate(1.296875)'%3E%3Ccircle r='2.34375' cy='16' cx='4.3824406'/%3E%3Ccircle r='2.34375' cy='16' cx='25.023809'/%3E%3Ccircle r='2.34375' cy='16' cx='14.703125'/%3E%3C/g%3E%3C/svg%3E");