$appMount: '.appMount-3lHmkl';
$client-app: '.app-19_DXt';
$client-colorBlindMode: '.color-blind-mode';
$client-win: '.platform-win';
$client-macOs: '.platform-osx';
$client-linux: '.platform-linux';
$client-web: '.platform-web';
$main-app: '.app-2rEoOp';
$main-themeLight: '.theme-light';
$main-themeDark: '.theme-dark';
$currentAccount-accountDetails: '.accountDetails-3k9g4n';
$currentAccount-avatar: '.avatar-3JE4B3';
$currentAccount-button: '.button-2b6hmh';
$currentAccount-buttonInner: '.buttonInner-LmnaN_';
$currentAccount-container: '.container-2Thooq';
$currentAccount-status: '.status-2kJpnA';
$currentAccount-username: '.user';
$currentAccount-discriminator: '.discriminator';
$guild-wrapper: '.wrapper-1Rf91z';
$guild-scroller: '.scroller-2TZvBN';
$home: '.container-1ETFDs';
$home-button: '.homeButton-2Cw51C';
$guild-inner: '.wrapper-2lTRaf';
$home-link: '.homeLink-2NBBKi';
$home-icon: '.homeIcon-tEMBK1';
$friends-online: '.friendsOnline-2JkivW';
$dm-inner: '.inner-1x-wIi';
$dm-badge: '.badge-2_fwUZ';
$guild-separater: '.guildSeparator-3s64Iy';
$guild: '.container-2td-dC';
$guild-unread: '.unread-2OHH1w';
$guild-icon: '.guildIcon-VlWW86';
$guild-selected: '.selected-nT-gM3';
$guild-add: '.circleIconButton-jET_ig';
$guild-addInner: '.plus-3UqSQu';
$guild-discover: '.container-11WMXy';
$guild-scroller: '.scroller-2TZvBN';
$downloadApp-button: '.downloadAppButton-3FZHkU';
$guild-audio: '.audio-2KA0-x';
$guild-video: '.video-2jNDI4';
$dm-audio: '.audio-3sNR7M';
$dm-video: '.video-3I9W8t';
$channelList: '.channels-Ie2l6A';
$channelList-scroller: '.scroller-2wx7Hm';
$channelList-base: '.base-3dtUhz';
$channelList-container: '.container-PNkimc';
$channelList-banner: '.banner-1TiK82';
$channelList-hasPinnedBanner: '.pinnedBanner-fd4XS4';
$channelList-pinnedBanner: '.pinnedBanner-31szAF';
$channelList-header: '.header-2o-2hj';
$channelList-headerName: '.name-3YKhmS';
$channelList-headerButton: '.button-1w5pas';
$channelList-itemWrapperSelectedText: '.wrapperSelectedText-3dSUjC';
$channelList-itemWrapperHoveredText: '.wrapperHoveredText-2geN_M';
$channelList-itemUnread: '.unread-1Dp-OI';
$channelList-itemName: '.name-3M0b8v';
$channelList-itemNameConnectedVoice: '.nameConnectedVoice-MHUX5F';
$channelList-itemNameDefaultText: '.nameDefaultText-24KCy5';
$channelList-itemNameDefaultVoice: '.nameDefaultVoice-3WUH7s';
$channelList-itemNameHoveredText: '.nameHoveredText-1uO31y';
$channelList-itemNameHoveredVoice: '.nameHoveredVoice-YJ1Vfd';
$channelList-itemNameLockedVoice: '.nameLockedVoice-26MhB1';
$channelList-itemNameSelectedText: '.nameSelectedText-sp_EUw';
$channelList-itemNameSelectedVoice: '.nameSelectedVoice-1qSph5';
$channelList-itemNameUnreadText: '.nameUnreadText-DfkrI4';
$channelList-itemContentSelectedText: '.contentSelectedText-3wUhMi';
$channelList-itemContentHoveredText: '.contentHoveredText-2D9B-x';
$channelList-itemConnectedVoiceIcon: '.colorConnectedVoice-3kyvUN';
$channelList-itemDefaultTextIcon: '.colorDefaultText-oas-QM';
$channelList-itemDefaultVoiceIcon: '.colorDefaultVoice-3wYlhb';
$channelList-itemHoveredTextIcon: '.colorHoveredText-OZnAgu';
$channelList-itemHoveredVoiceIcon: '.colorHoveredVoice-1kucsK';
$channelList-itemLockedVoiceIcon: '.colorLockedVoice-2UlBjl';
$channelList-itemSelectedTextIcon: '.colorSelectedText-1y4Wvs';
$channelList-itemSelectedVoiceIcon: '.colorSelectedVoice-Xcb_9R';
$channelList-itemUnreadTextIcon: '.colorUnreadText-2t7XRb';
$channelList-actionIcon: '.actionIcon-2Hi9ZG';
$channelList-categoryNameCollapsed: '.nameCollapsed-34uFWo';
$channelList-categoryNameDefault: '.nameDefault-2DI02H';
$channelList-categoryNameMuted: '.nameMuted-1MCOt4';
$message: '.message-1PNnaP';
$message-container: '.container-206Blv';
$message-containerCozy: '.containerCozy-336-Cz';
$message-containerCompact: '.containerCompact-3pGPJs';
$message-isMentioned: '.isMentioned-N-h9aa';
$message-isMentionedCozy: '.isMentionedCozy-3isp7y';
$message-isMentionedCompact: '.isMentionedCompact-3rpPdN';
$message-markup: '.markup-2BOw-j';
$message-buttonContainer: '.buttonContainer-KtQ8wc';
$channelTextArea-inner: '.inner-zqa7da';
$channelTextArea-text: '.textArea-2Spzkt';