// Function square (Manuel) wrote for me to get the class name out of the map even w/ mutliple values in a key (by it's index/position)
@function str-split($str, $sep: " ") {
    $list: ();
    $i: str-index($str, $sep);
    @while $i {
        $list: append($list, str-slice($str, 1, $i - 1));
        //$str: str-slice($str, $i);
        $str: str-slice($str, $i + 1);
        $i: str-index($str, $sep);
    }
    $list: append($list, $str);
    @return $list;
}
  
@function get-class($section, $class, $index: 1) {
    $list: str-split(map-get(map-get($Class, $section), $class));
    @if $index > length($list) {
        @error "Out of bounds.";
    }
    @return ".#{nth($list, $index)}";
}

  //Section specific functions
@function AppContainer($class, $index: 1) {
    @return get-class("AppContainer", $class, $index);
}
  
@function Client($class, $index: 1) {
    @return get-class("Client", $class, $index);
}

@function Main($class, $index: 1) {
    @return get-class("Main", $class, $index);
}

@function Property($class, $index: 1) {
    @return get-class("Property", $class, $index);
}

@function Badge($class, $index: 1) {
    @return get-class("Badge", $class, $index);
}

@function ScrollableContent($class, $index: 1) {
    @return get-class("ScrollableContent", $class, $index);
}

@function Window($class, $index: 1) {
    @return get-class("Window", $class, $index);
}

@function Account($class, $index: 1) {
    @return get-class("Account", $class, $index);
}

@function Guilds($class, $index: 1) {
    @return get-class("Guilds", $class, $index);
}

@function FriendCounter($class, $index: 1) {
    @return get-class("FriendCounter", $class, $index);
}

@function Channels($class, $index: 1) {
    @return get-class("Channels", $class, $index);
}

@function ChannelOuter($class, $index: 1) {
    @return get-class("ChannelOuter", $class, $index);
}

@function ChannelHeader($class, $index: 1) {
    @return get-class("ChannelHeader", $class, $index);
}

@function ChannelInner($class, $index: 1) {
    @return get-class("ChannelInner", $class, $index);
}

@function AccountContainer($class, $index: 1) {
    @return get-class("AccountContainer", $class, $index);
}

@function ChannelMembers($class, $index: 1) {
    @return get-class("ChannelMembers", $class, $index);
}

@function ChannelMemberList($class, $index: 1) {
    @return get-class("ChannelMemberList", $class, $index);
}

@function MessagesContainer($class, $index: 1) {
    @return get-class("MessagesContainer", $class, $index);
}

@function Messages($class, $index: 1) {
    @return get-class("Messages", $class, $index);
}

@function MessageOuter($class, $index: 1) {
    @return get-class("MessageOuter", $class, $index);
}

@function MessageInner($class, $index: 1) {
    @return get-class("MessageInner", $class, $index);
}

@function Channel($class, $index: 1) {
    @return get-class("Channel", $class, $index);
}

@function Containers($class, $index: 1) {
    @return get-class("Containers", $class, $index);
}

@function Modal($class, $index: 1) {
    @return get-class("Modal", $class, $index);
}

@function Buttons($class, $index: 1) {
    @return get-class("Buttons", $class, $index);
}

@function SearchBoxes($class, $index: 1) {
    @return get-class("SearchBoxes", $class, $index);
}

@function Panel($class, $index: 1) {
    @return get-class("Panel", $class, $index);
}

@function PanelSide($class, $index: 1) {
    @return get-class("PanelSide", $class, $index);
}

@function Social($class, $index: 1) {
    @return get-class("Social", $class, $index);
}

@function UserAccountConfig($class, $index: 1) {
    @return get-class("UserAccountConfig", $class, $index);
}

@function ComboBox($class, $index: 1) {
    @return get-class("ComboBox", $class, $index);
}

@function RadioGroup($class, $index: 1) {
    @return get-class("RadioGroup", $class, $index);
}

@function OptionDescription($class, $index: 1) {
    @return get-class("OptionDescription", $class, $index);
}

@function Toggles($class, $index: 1) {
    @return get-class("Toggles", $class, $index);
}

@function NitroDetails($class, $index: 1) {
    @return get-class("NitroDetails", $class, $index);
}

@function NitroSection($class, $index: 1) {
    @return get-class("NitroSection", $class, $index);
}

@function NitroSectionTier2($class, $index: 1) {
    @return get-class("NitroSectionTier2", $class, $index);
}

@function NotificationSection($class, $index: 1) {
    @return get-class("NotificationSection", $class, $index);
}

@function NotificationSectionInner($class, $index: 1) {
    @return get-class("NotificationSectionInner", $class, $index);
}

@function PrivateChannelsList($class, $index: 1) {
    @return get-class("PrivateChannelsList", $class, $index);
}

@function PrivateChannels($class, $index: 1) {
    @return get-class("PrivateChannels", $class, $index);
}

@function DownloadProgressContainer($class, $index: 1) {
    @return get-class("DownloadProgressContainer", $class, $index);
}

@function HeaderIcons($class, $index: 1) {
    @return get-class("HeaderIcons", $class, $index);
}

@function PopoutsContainer($class, $index: 1) {
    @return get-class("PopoutsContainer", $class, $index);
}

@function PopoutMenu($class, $index: 1) {
    @return get-class("PopoutMenu", $class, $index);
}

@function Emoji($class, $index: 1) {
    @return get-class("Emoji", $class, $index);
}

@function MentionEveryoneConfirm($class, $index: 1) {
    @return get-class("MentionEveryoneConfirm", $class, $index);
}

@function TextAreaContainer($class, $index: 1) {
    @return get-class("TextAreaContainer", $class, $index);
}