//  Account Connection
    $accountConnection: ".connection-1fbD7X";
// Badge
    $badge: '.numberBadge-2s8kKX';
// Bot Tag
    $botTag: ".botTag-2WPJ74";
    $botTag-invert: ".botTagInvert-18-95s";
    $botTag-regular: ".botTagRegular-2HEhHi";
// Card
    $card: ".card-3Qj_Yx";
    $card-primary: ".cardPrimary-1Hv-to";
    $card-primaryEditable: ".cardPrimaryEditable-3KtE4g";
// Channel List
    $channelList-categoryName: '.name-IbjUBS';
    $channelList-header: '.header-2o-2hj';
    $channelList-headerContainer: '.container-2Rl01u';
    $channelList-headerContainerSelected: '.selected-WP3kCM';
    $channelList-itemContent: '.content-3at_AU';
    $channelList-itemContentWrapper: '.wrapper-1ucjTd';
    $channelList-itemMutedInner: '.modeMuted-3osy7j';
    $channelList-itemName: '.name-3_Dsmg';
    $channelList: '.sidebar-2K8pFh';
// Channel List Banner
    $channelListBanner-background: '.bannerBG-3zMP90';
    $channelListBanner-image: '.bannerImage-1jOskm';
// Chat
    $chat-attachButton: '.attachButton-1UjEWA';
    $chat-akaBadge: '.akaBadge-1M-1Gw';
    $chat-base: '.base-3dtUhz';
    $chat-channelTextArea: '.channelTextArea-1LDbYG';
    $chat-channelTextAreaButtons: '.buttons-205you';
    $chat-channelTextAreaInner: '.inner-zqa7da';
    $chat-guildMenu: '.menu-Sp6bN1';
    $chat-guildMenuItem: '.item-1GzJrl';
    $chat-headerButtonIconWrapper: '.iconWrapper-2OrFZ1';
    $chat-headerIconBadge: '.iconBadge-qZ4Ksk';
    $chat-jumpToPresentBar: '.jumpToPresentBar-9P20AM';
    $chat-newMessagesBar: '.newMessagesBar-mujexs';
    $chat-nicknames: '.nicknames-1XK4Zt';
    $chat-searchBar: '.search-2oPWTC';
    $chat-searchBarIcon: '.icon-38sknP';
    $chat-searchBarInner: '.searchBar-3dMhjb';
    $chat-searchBarInput: '.input-1Rv96N';
    $chat-searchBarWrapper: '.search-l1Wz-Q';
    $chat-headerStatus: '.status-1XNdyw';
    $chat-titleInput: '.input-2A_zIr';
    $chat-titleText: '.titleText-3X-zRE';
    $chat-typing: '.typing-2GQL18';
//Client
    $client-actionButton: '.button-38aScr';
    $client-buttonAccentFilled: '.colorBrand-3pXr91';
    $client-buttonFilled: '.lookFilled-1Gx00P';
    $client-buttonNormal: '.buttonSize-2Pmk-w';
    $client-contextMenu: '.contextMenu-HLZMGh';
    $client-contextMenuItem: '.item-1Yvehc';
    $client-contextSubMenu: '.itemSubMenu-1vN_Yn';
    $client-contextSubMenuSelected: '.selected-BYpGTS';
    $client-container: '.container-2lgZY8';
    $client-headerBar: '.container-1r6BKw';
    $client-headerContent: '.children-19S4PO';
    $client-headerContentDivider: '.divider-3FBTu8';
    $client-headerTitle: '.title-29uC1r';
    $client-largeButton: '.sizeLarge-1vSeWK';
    $client-layers: '.layers-3iHuyZ';
    $client-layer: '.layer-3QrUeG';
    $client-listItemLayout: '.layout-2DM8Md';
    $client-linux: '.platform-linux';
    $client-macOs: '.platform-osx';
    $client-web: '.platform-web';
    $client-win: '.platform-win';
    $client-macOSTitleBar: '.typeMacOS-3EmCyP';
    $client-mediumButton: '.sizeMedium-1AC_Sl';
    $client-minButton: '.sizeMin-1mJd1x';
    $client-popoutBottom: '.popoutBottom-2GAFPg';
    $client-popoutBottomLeft: '.popoutBottomLeft-1pG8B4';
    $client-popoutNoArrow: '.popoutBottomRight-2Rno5S';
    $client-popoutTopLeft: '.popoutTopLeft-3B0mFf';
    $client-popoutTopRight: '.popoutTopRight-1lc8Mq';
    $client-primaryButton: '.colorPrimary-3b3xI6';
    $client-scroller: '.scroller-2FKFPG';
    $client-smallButton: '.sizeSmall-2cSMqn';
    $client-themedPopout: '.themedPopout-1TrfdI';
    $client-toolbar: '.toolbar-1t6TWx';
    $client-topic: '.topic-TCb_qw';
    $client-winButton: '.winButton-iRh8-Z';
    $client-winButtonClose: '.winButtonClose-1HsbF-';
    $client-winButtonMinMax: '.winButtonMinMax-PBQ2gm';
    $client-winTitleBar: '.typeWindows-1za-n7';
    $client-wordmark: '.wordmark-2iDDfm';
// Current Account
    $currentAccount-button: '.button-14-BFJ';
    $currentAccount-container: '.container-3baos1';
    $currentAccount-discriminator: '.subtext-3CDbHg';
    $currentAccount-usernameContainer: '.usernameContainer-1fp4nu';
    $currentAccount-username: '.title-eS5yk3';
// Emoji Picker
    $emojiPicker-searchBar: '.searchBar-2pWH0_';
// Friends
    $friends-wrapper: '.container-3gCOGc';
// Game Detection
    $gameDetection-notDetected: ".notDetected-33MY4s";
    $gameDetection-nowPlaying: ".nowPlaying-284llR";
// Library
    $library-downloadProgressCircleWrapper: '.downloadProgressCircle-3_wgim';
    $library-filter: '.libraryFilter-31ZUa2';
    $library-giftInventoryWrapper: '.root-1BQpZw';
// Main
    $main-app: '.app-2rEoOp';
    $main-themeDark: '.theme-dark';
    $main-themeLight: '.theme-light';
// Main Nav List (mostly servers)
    $mainNavList-actionButton: '.circleIconButton-jET_ig';
    $mainNavList-actionIndicatorWrapper: '.pill-3YxEhL';
    $mainNavList-actionSelected: '.selected-ugP_am';
    $mainNavList-childWrapper: '.childWrapper-anI2G9';
    $mainNavList-folder: '.folder-21wGz3';
    $mainNavList-folderCollapsed: '.collapsed-1GMuSb';
    $mainNavList-folderExpandedBackground: '.expandedFolderBackground-2sPsd-';
    $mainNavList-folderExpandedGuilds: '.expandedGuilds-1JMD4M';
    $mainNavList-folderIconWrapper: '.folderIconWrapper-226oVY';
    $mainNavList-folderHover: '.hover-2ji_A7';
    $mainNavList-folderWrapper: '.wrapper-21YSNc';
    $mainNavList-guildNoIconSelected: '.selected-bZ3Lue';
    $mainNavList-homeButton: '.button-OhfaWu';
    $mainNavList-homeIcon: '.homeIcon-tEMBK1';
    $mainNavList-homeIndicatorWrapper: '.pill-2uzAFe';
    $mainNavList-homeSelected: '.selected-bZ3Lue';
    $mainNavList-indicator: '.item-2hkk8m';
    $mainNavList-indicatorWrapper: '.pill-31IEus';
    $mainNavList-item: '.listItem-2P_4kh';
    $mainNavList-itemAcronym: '.acronym-2mOFsV';
    $mainNavList-itemButton: '.wrapper-1BJsBx';
    $mainNavList-itemInnerContainer: '.blobContainer-239gwq';
    $mainNavList-itemIcon: '.icon-27yU2q';
    $mainNavList-itemInner: '.wrapper-25eVIn';
    $mainNavList-itemMaskContainer: '.svg-1X37T1';
    $mainNavList-itemInnerWrapper: '.listItemWrapper-3X98Pc';
    $mainNavList-lowerBadge: '.lowerBadge-29hYVK';
    $mainNavList-nestedItem: '.nested-1eglu6';
    $mainNavList-scroller: '.scroller-2TZvBN';
    $mainNavList-scrollerWrap: '.scrollerWrap-1IAIlv';
    $mainNavList-separater: '.guildSeparator-3s64Iy';
    $mainNavList-wrapper: '.wrapper-1Rf91z';
// Members List
    $membersList-member: ".member-3W1lQa";
    $membersList-membersGroup: ".membersGroup-v9BXpm";
    $membersList-roleColor: '.roleColor-36x_Mz';
    $membersList: ".members-1998pB";
// Message
    $message-actionBroadcastContainer: '.container-3-pyIM';
    $message-buttonContainerWrapper: '.buttonContainer-KtQ8wc';
    $message-container: '.container-206Blv';
    $message-containerCompact: '.containerCompact-3bB5aN';
    $message-content: '.content-3dzVd8';
    $message-contentCompact: '.contentCompact-1QLHBj';
    $message-divider: '.divider-3gKybi';
    $message-dividerContent: '.dividerContent-2L12VI';
    $message-dividerEnabled: '.dividerEnabled-2TTlcf';
    $message-dividerRed: '.dividerRed-MKoLlr';
    $message-embed: '.embed-IeVjo6';
    $message-isCompact: '.isCompact-1hsne1';
    $message-isMentioned: '.isMentioned-N-h9aa';
    $message-isMentionedCozy: '.isMentionedCozy-3isp7y';
    $message-markup: '.markup-2BOw-j';
    $message-timestampCompact: '.timestampCompact-MHgFLv';
    $message: '.message-1PNnaP';
// Messages Popout
    $messagesPopout-wrap: '.messagesPopoutWrap-1MQ1bW';
// Modal
    $modal-additionalActionsIcon: '.additionalActionsIcon-1FoUlE';
    $modal-body: '.body-3ND3kc';
    $modal-header: '.header-QKLPzZ';
    $modal-inner: '.inner-1JeGVc';
    $modal-itemSelected: '.itemSelected-1qLhcL';
    $modal-root: '.root-SR8cQa';
    $modal-tabBarItem: '.tabBarItem-1b8RUP';
    $modal-tabBarContainer: '.tabBarContainer-1s1u-z';
    $modal-topSectionNormal: '.topSectionNormal-2-vo2m';
    $modal-topSectionPlaying: '.topSectionPlaying-1J5E4n';
    $modal-topSectionSpotify: '.topSectionSpotify-1lI0-P';
    $modal-topSectionStreaming: '.topSectionStreaming-1Tpf5X';
    $modal-topSectionXbox: '.topSectionXbox-3fWLjS';
    $modal-topSection: '[class^="topSection"]';
// Overlay Notification Settings
    $overlayNotificationSettings: '.notificationSettings-1NQKPR';
//Overlay Notification Setting Items
    $overlayNotificationSettingItems-option: ".option-n0icdO";
    $overlayNotificationSettingItems-selected: ".selected-mKYnfr";
    $overlayNotificationSettingItems-wrapper: ".wrapper-3jrx9n";
// Page
    $page-filterInput: '.input-3Xdcic';
    $page-iconContainer: '.iconLayout-3OgqU3';
    $page-searchBar: '.container-cMG81i';
// Private Channel List
    $privateChannelList-channel: '.channel-2QD9_O';
    $privateChannelList-channelActivity: '.activity-E-0FeD';
    $privateChannelList-channelClose: '.close-3hZ5Ni';
    $privateChannelList-channelName: '.name-uJV0GL';
    $privateChannelList-channelNameWrapper: '.nameAndDecorators-5FJ2dg';
    $privateChannelList-channelSelected: '.selected-aXhQR6';
    $privateChannelList-header: '.header-zu8eWb';
    $privateChannelList-linkButtonIcon: '.linkButtonIcon-Mlm5d6';
    $privateChannelList-searchBar: 'searchBarComponent-32dTOx';
    $privateChannelList-searchBarWrapper: '.searchBar-6Kv8R2';
    $privateChannelList: '.privateChannels-1nO12o';
// Profile
    $profile-discriminator: '.discriminator-xUhQkU';
    $profile-note: '.note-3kmerW';
    $profile-username: '.username-3gJmXY';
// Property
    $property-flexLayout: '.flex-1O1GKY';
// RadioBoxes
    $radioBox-item: ".item-26Dhrx";
    $radioBox-title: ".title-3BE6m5";
    $radioBox-titleChecked: ".titleChecked-2wg0pd";
// Radio Checkbox
    $radioInput-checkBox: ".checkbox-1ix_J3";
    $radioInput-checked: '.checked-3_4uQ9';
// Search Popout
    $searchPopout-answer: '.answer-1n6g43';
    $searchPopout-calenderPicker: '.calendarPicker-2yf6Ci';
    $searchPopout-container: '.container-3ayLPN';
    $searchPopout-filter: '.filter-3Y_im-';
    $searchPopout-header: '.header-2N-gMV';
    $searchPopout-learnMore: '.searchLearnMore-3SQUAj';
    $searchPopout-option: '.option-96V44q';
    $searchPopout-optionSelected: '.selected-rZcOL-';
    $searchPopout-resultsGroup: '.resultsGroup-r_nuzN';
    $searchPopout-searchOption: '.searchOption-zQ-1l6';
// Settings
    $settings-contentRegion: '.contentRegion-3nDuYy';
    $settings-contentRegionScroller: '.contentRegionScroller-26nc1e';
    $settings-closeButton: '.closeButton-1tv5uR';
    $settings-header: '.header-2RyJ0Y';
    $settings-item: '.item-PXvHYJ';
    $settings-closeKeybind: '.keybind-KpFkfr';
    $settings-separator: '.separator-gCa7yv';
    $settings-side: '.side-8zPYf6';
    $settings-sidebar: '.sidebar-CFHs9e';
    $settings-sidebarRegion: '.sidebarRegion-VFTUkN';
    $settings-sidebarRegionScroller: '.sidebarRegionScroller-3MXcoP';
    $settings-standardSidebarView: '.standardSidebarView-3F1I7i';
    $settings-tools: '.tools-3-3s-N';
    $settings-toolsContainer: '.toolsContainer-1edPuj';
// Slider
    $slider-bar: ".bar-2Qqk5Z";
    $slider-barFill: ".barFill-23-gu-";
    $slider-grabber: ".grabber-3mFHz2";
    $slider-mark: ".mark-1xjQqt";
    $slider-markDash: ".markDash-3hAolZ";
    $slider-markValue: ".markValue-2DwdXI";
// Suspicious Verification
    $suspiciousVerification-title: '.title-wZCcDo';
// Toggle
    $toggle-sizeDefault: ".sizeDefault-2YlOZr";
    $toggle-switch: ".switch-3wwwcV";
    $toggle-themeDefault: ".themeDefault-24hCdX";
    $toggle-valueChecked: ".valueChecked-m-4IJZ";
// Store/Nitro Tab
    $store-browseSearch: '.browseSearch-e9jF-f';
// Tooltip
    $tooltip-pointer: '.tooltipPointer-3ZfirK';
    $tooltip: '.tooltip-2QfLtc';
    $tooltipDefault: '.tooltipBlack-PPG47z';
    $tooltipAlert: '.tooltipRed-8-9NeP';
// Usage Graph
    $usageGraph-foreground: ".foreground-2aE44H";
// User Popout
    $userPopout: ".userPopout-3XzG_A";
// Layer Container
    $layerContainer-layer: '.layer-v9HyYc';
// Unread
    $unread-bar: '.unreadMentionsBar-1VrBNe';
    $unread-barWrapper: '.bar-30k2ka';