$Class: (
    AppContainer: (
        appMount: "appMount-3lHmkl"
    ),
    Client: (
        app: "app-19_DXt",
        colorBlindMode: "color-blind-mode",
        win: "platform-win",
        mac: "platform-osx",
        linux: "platform-linux",
        web: "platform-web"
    ),
    Main: (
        app: "app-2rEoOp",
        themeLight: "theme-light",
        themeDark: "theme-dark"
    ),
    Property: (
        alignBaseline: "alignBaseline-LAQbso",
        alignCenter: "alignCenter-1dQNNs",
        alignEnd: "alignEnd-1D6PQi",
        alignStart: "alignStart-H-X2h-",
        alignStretch: "alignStretch-DpGPf3",
        directionColumn: "directionColumn-35P_nr",
        directionRow: "directionRow-3v3tfG",
        directionRowReverse: "directionRowReverse-m8IjIq",
        flex: "flex-1O1GKY",
        flexCenter: "flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs",
        horizontal: "horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG",
        horizontalReverse: "horizontalReverse-3tRjY7 flex-1O1GKY directionRowReverse-m8IjIq",
        justifyAround: "justifyAround-1n1pnI",
        justifyBetween: "justifyBetween-2tTqYu",
        justifyCenter: "justifyCenter-3D2jYp",
        justifyEnd: "justifyEnd-2E6vba",
        justifyStart: "justifyStart-2NDFzi",
        noWrap: "noWrap-3jynv6",
        spacer: "spacer-1fA9zc",
        vertical: "vertical-V37hAW flex-1O1GKY directionColumn-35P_nr",
        wrap: "wrap-ZIn9Iy",
        wrapReverse: "wrapReverse-3ssEE3",
    ),
    Badge: (
        wrapper: "wrapper-232cHJ"
    ),
    ScrollableContent: (
        firefoxFixScrollFlex: "firefoxFixScrollFlex-cnI2ix",
        momentum: "momentum-2CXCBH",
        pad: "pad-29zQak",
        scrollbar: "scrollbar-2rkZSL",
        scroller: "scroller-2FKFPG firefoxFixScrollFlex-cnI2ix",
        scrollerFade: "scrollerFade-1Ijw5y",
        scrollerStore: "scrollerStore-390omS",
        scrollerThemed: "scrollerThemed-2oenus",
        scrollerTrack: "scrollerTrack-1ZIpsv",
        scrollerWrap: "scrollerWrap-2lJEkd firefoxFixScrollFlex-cnI2ix",
        scrollerWrapPolyfill: "scrollerWrapPolyfill-DBQCMm scrollerWrap-2lJEkd firefoxFixScrollFlex-cnI2ix",
        scrolling: "scrolling-CehiO2",
        systemPad: "systemPad-3UxEGl",
        testStyles: "testStyles-27wYDM",
        themeDark: "themeDark-2cjlUp",
        themeGhost: "themeGhost-28MSn0",
        themeGhostHairline: "themeGhostHairline-DBD-2d",
        themeGhostHairlineChannels: "themeGhostHairlineChannels-3G0x9_",
        themeLight: "themeLight-1_DWyY",
        themedWithTrack: "themedWithTrack-q8E3vB",
        thumb: "thumb-2JwNFC",
        track: "track-1JN30G",
    ),
    Window: (
        macButton: "macButton-c_Adir",
        macButtonClose: "macButtonClose-MwZ2nf macButton-c_Adir",
        macButtonMaximize: "macButtonMaximize-2FMHAO macButton-c_Adir",
        macButtonMinimize: "macButtonMinimize-3EJ6wo macButton-c_Adir",
        titleBar: "titleBar-AC4pGV",
        typeMacOS: "typeMacOS-3EmCyP titleBar-AC4pGV horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyBetween-2tTqYu alignCenter-1dQNNs",
        typeWindows: "typeWindows-1za-n7 titleBar-AC4pGV horizontalReverse-3tRjY7 flex-1O1GKY directionRowReverse-m8IjIq justifyStart-2NDFzi alignStretch-DpGPf3",
        unfocused: "unfocused-1QsMU3",
        winButton: "winButton-iRh8-Z flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs",
        winButtonClose: "winButtonClose-1HsbF- winButton-iRh8-Z flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs",
        winButtonMinMax: "winButtonMinMax-PBQ2gm winButton-iRh8-Z flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs",
        wordmark: "wordmark-2iDDfm"
    ),
    Account: (
        animate: "animate-iYrs3-",
        dnd: "dnd-1_xrcq status-oxiHuE",
        forceDarkTheme: "forceDarkTheme-2cI4Hb",
        forceLightTheme: "forceLightTheme-24Qimg",
        idle: "idle-3DEnRT status-oxiHuE",
        image: "image-33JSyf",
        invisible: "invisible-1kp8Z0 status-oxiHuE",
        large: "large-3ChYtB",
        mask: "mask-3OgeRz",
        maskProfile: "maskProfile-1ObLFT mask-3OgeRz",
        offline: "offline-3qoTek status-oxiHuE",
        online: "online-2S838R status-oxiHuE",
        popout: "popout-2fzvxG",
        profile: "profile-ZOdGIb",
        small: "small-5Os1Bb",
        status: "status-oxiHuE",
        statusProfile: "statusProfile-3ynqtt",
        streaming: "streaming-2_dnHe status-oxiHuE",
        typing: "typing-1KJk_j",
        typingSpinnerItem: "typingSpinnerItem-35chrT",
        unknown: "unknown-Ms2zdV status-oxiHuE",
        wrapper: "wrapper-2F3Zv8",
        xlarge: "xlarge-2z2DtB",
        xsmall: "xsmall-3afG_L",
        xxlarge: "xxlarge-1R_NA5"
    ),
    FriendCounter: (
        friendsOnline: "friendsOnline-_wi_fM da-friendsOnline"
    ),
    Channels: (
        base: "base-3dtUhz",
        channels: "channels-Ie2l6A vertical-V37hAW flex-1O1GKY directionColumn-35P_nr",
        container: "container-2lgZY8 firefoxFixScrollFlex-cnI2ix",
        downloadProgressCircle: "downloadProgressCircle-2hBlsA",
        firefoxFixScrollFlex: "firefoxFixScrollFlex-cnI2ix",
        hiddenOnMobileStore: "hiddenOnMobileStore-1DIxbw",
        spacer: "spacer-29U_x8 firefoxFixScrollFlex-cnI2ix",
    ),
    // Contains container right underneath channels wrapper (channels-...)
    ChannelOuter: (
        container: "container-PNkimc firefoxFixScrollFlex-cnI2ix",
        firefoxFixScrollFlex: "firefoxFixScrollFlex-cnI2ix"
    ),
    ChannelHeader: (
        container: "container-2Rl01u",
        header: "header-2o-2hj",
        name: "name-3YKhmS",
        verified: "verified-3uJH7V"
    ),
    ChannelInner: (
        background: "background-2OVjk_",
        colorConnectedText: "colorConnectedText-1c_uzY icon-sxakjD",
        colorConnectedVoice: "colorConnectedVoice-3kyvUN icon-sxakjD",
        colorDefaultText: "colorDefaultText-oas-QM icon-sxakjD",
        colorDefaultVoice: "colorDefaultVoice-3wYlhb icon-sxakjD",
        colorHoveredText: "colorHoveredText-OZnAgu icon-sxakjD",
        colorHoveredVoice: "colorHoveredVoice-1kucsK icon-sxakjD",
        colorLockedText: "colorLockedText-1VRkPt icon-sxakjD",
        colorLockedVoice: "colorLockedVoice-2UlBjl icon-sxakjD",
        colorMutedText: "colorMutedText-36M8WR icon-sxakjD",
        colorMutedVoice: "colorMutedVoice-3ghIuw icon-sxakjD",
        colorSelectedText: "colorSelectedText-1y4Wvs icon-sxakjD",
        colorSelectedVoice: "colorSelectedVoice-Xcb_9R icon-sxakjD",
        colorUnreadText: "colorUnreadText-2t7XRb icon-sxakjD",
        colorUnreadVoice: "colorUnreadVoice-137o4S icon-sxakjD",
        content: "content-20Aix8",
        contentConnectedText: "contentConnectedText-16O0fe content-20Aix8",
        contentConnectedVoice: "contentConnectedVoice-qL-YrL content-20Aix8",
        contentDefaultText: "contentDefaultText-3vZplL content-20Aix8",
        contentDefaultVoice: "contentDefaultVoice-2ko43i content-20Aix8",
        contentHoveredText: "contentHoveredText-2D9B-x content-20Aix8",
        contentHoveredVoice: "contentHoveredVoice-3p_NEO content-20Aix8",
        contentLockedText: "contentLockedText-1aHuz8 content-20Aix8",
        contentLockedVoice: "contentLockedVoice-1gx-SP content-20Aix8",
        contentMutedText: "contentMutedText-2y6aPQ content-20Aix8",
        contentMutedVoice: "contentMutedVoice-2lJ0UD content-20Aix8",
        contentSelectedText: "contentSelectedText-3wUhMi content-20Aix8",
        contentSelectedVoice: "contentSelectedVoice-1WDIBM content-20Aix8",
        contentUnreadText: "contentUnreadText-2vNnZc content-20Aix8",
        contentUnreadVoice: "contentUnreadVoice-1dijOt content-20Aix8",
        foreground: "foreground-2W-aJk",
        icon: "icon-sxakjD",
        marginReset: "marginReset-3RfdVe",
        name: "name-3M0b8v",
        nameConnectedText: "nameConnectedText-3CzNQn name-3M0b8v overflowEllipsis-jeThUf",
        nameConnectedVoice: "nameConnectedVoice-MHUX5F name-3M0b8v overflowEllipsis-jeThUf",
        nameDefaultText: "nameDefaultText-24KCy5 name-3M0b8v overflowEllipsis-jeThUf",
        nameDefaultVoice: "nameDefaultVoice-3WUH7s name-3M0b8v overflowEllipsis-jeThUf",
        nameHoveredText: "nameHoveredText-1uO31y name-3M0b8v overflowEllipsis-jeThUf",
        nameHoveredVoice: "nameHoveredVoice-YJ1Vfd name-3M0b8v overflowEllipsis-jeThUf",
        nameLockedText: "nameLockedText-3pqQcL name-3M0b8v overflowEllipsis-jeThUf",
        nameLockedVoice: "nameLockedVoice-26MhB1 name-3M0b8v overflowEllipsis-jeThUf",
        nameMutedText: "nameMutedText-3Vj4bM name-3M0b8v overflowEllipsis-jeThUf",
        nameMutedVoice: "nameMutedVoice-3oxyQZ name-3M0b8v overflowEllipsis-jeThUf",
        nameSelectedText: "nameSelectedText-sp_EUw name-3M0b8v overflowEllipsis-jeThUf",
        nameSelectedVoice: "nameSelectedVoice-1qSph5 name-3M0b8v overflowEllipsis-jeThUf",
        nameUnreadText: "nameUnreadText-DfkrI4 name-3M0b8v overflowEllipsis-jeThUf",
        nameUnreadVoice: "nameUnreadVoice-EVo-wI name-3M0b8v overflowEllipsis-jeThUf",
        overflowEllipsis: "overflowEllipsis-jeThUf",
        unread: "unread-1Dp-OI",
        wrapper: "wrapper-KpKNwI",
        wrapperConnectedText: "wrapperConnectedText-3NUF2g wrapper-KpKNwI",
        wrapperConnectedVoice: "wrapperConnectedVoice-2mvQJY wrapper-KpKNwI",
        wrapperDefaultText: "wrapperDefaultText-2IWcE8 wrapper-KpKNwI",
        wrapperDefaultVoice: "wrapperDefaultVoice-1yvceo wrapper-KpKNwI",
        wrapperHoveredText: "wrapperHoveredText-2geN_M wrapper-KpKNwI",
        wrapperHoveredVoice: "wrapperHoveredVoice-3ItgyI wrapper-KpKNwI",
        wrapperLockedText: "wrapperLockedText-wfOnM5 wrapper-KpKNwI",
        wrapperLockedVoice: "wrapperLockedVoice-3QrBs- wrapper-KpKNwI",
        wrapperMutedText: "wrapperMutedText-1YBpvv wrapper-KpKNwI",
        wrapperMutedVoice: "wrapperMutedVoice-10gPcW wrapper-KpKNwI",
        wrapperSelectedText: "wrapperSelectedText-3dSUjC wrapper-KpKNwI",
        wrapperSelectedVoice: "wrapperSelectedVoice-xzxa2u wrapper-KpKNwI",
        wrapperUnreadText: "wrapperUnreadText-2zuiuD wrapper-KpKNwI",
        wrapperUnreadVoice: "wrapperUnreadVoice-23GIYe wrapper-KpKNwI",
    ),
    AccountContainer: (
        accountDetails: "accountDetails-3k9g4n",
        avatar: "avatar-3JE4B3",
        button: "button-2b6hmh",
        buttonInner: "buttonInner-LmnaN_",
        container: "container-2Thooq",
        hasBuildOverride: "hasBuildOverride-rIAgfT",
        status: "status-2kJpnA",
        username: "username",
        discriminator: "discriminator"
    ),
    MessagesContainer: (
        divider: "divider-3zi9LO",
        messageGroupBlocked: "messageGroupBlocked-JqfeE2",
        messages: "messages-3amgkR",
        messagesWrapper: "messagesWrapper-3lZDfY",
        scrollerWrap: "scrollerWrap-2su1QI"
    ),
    Messages: (
        asianCompactTimeStamp: "asianCompactTimeStamp-2Y7Fg8",
        avatar: "avatar-17mtNa",
        botTag: "botTag-2BhDSU",
        botTagCompact: "botTagCompact-3mVLvM botTag-2BhDSU",
        botTagCozy: "botTagCozy-1875JY botTag-2BhDSU",
        buttonContainer: "buttonContainer-37UsAw",
        clickOverride: "clickOverride-1J40_l disableInteraction-_YeVcv",
        container: "container-1YxwTf",
        containerCompact: "containerCompact-3V0ioj container-1YxwTf",
        containerCompactBounded: "containerCompactBounded-cYR5cW containerCompact-3V0ioj container-1YxwTf",
        containerCozy: "containerCozy-jafyvG container-1YxwTf",
        containerCozyBounded: "containerCozyBounded-1rKFAn containerCozy-jafyvG container-1YxwTf",
        content: "content-3dzVd8",
        contentCompact: "contentCompact-1QLHBj content-3dzVd8",
        contentCozy: "contentCozy-3XX413 content-3dzVd8",
        disableInteraction: "disableInteraction-_YeVcv",
        divider: "divider-32i8lo",
        dividerEnabled: "dividerEnabled-2TTlcf divider-32i8lo",
        headerCompact: "headerCompact-3wRt2W",
        headerCozy: "headerCozy-2N9HOL",
        headerCozyMeta: "headerCozyMeta-rdohGq",
        highBackgroundOpacity: "highBackgroundOpacity-2vfNzl",
        isLocalBot: "isLocalBot-38G0P0",
        latin12CompactTimeStamp: "latin12CompactTimeStamp-3v5WB3",
        latin24CompactTimeStamp: "latin24CompactTimeStamp-3m4PhB",
        localBotMessage: "localBotMessage-1cGMdw",
        lowBackgroundOpacity: "lowBackgroundOpacity-1WvI85",
        mediumBackgroundOpacity: "mediumBackgroundOpacity-3mHb6W",
        message: "message-1PNnaP",
        messageCompact: "messageCompact-kQa7ES message-1PNnaP",
        messageCozy: "messageCozy-2JPAPA message-1PNnaP",
        messageEditorCompact: "messageEditorCompact-2PSR3v",
        separator: "separator-1xUax1",
        separatorLeft: "separatorLeft-3DZD2Q separator-1xUax1",
        separatorRight: "separatorRight-3ctgKv separator-1xUax1",
        timestampCompact: "timestampCompact-MHgFLv timestampCompactBase-26h38e",
        timestampCompactBase: "timestampCompactBase-26h38e",
        timestampCompactIsMentioned: "timestampCompactIsMentioned-cQaQoQ timestampCompactBase-26h38e",
        timestampCozy: "timestampCozy-2hLAPV",
        timestampVisibleOnHover: "timestampVisibleOnHover-276OMc",
        username: "username-_4ZSMR",
    ),
    MessageOuter: (
        disableInteractions: "disableInteractions-hjWoqU da-disableInteractions",
        divider: "divider-3gKybi da-divider",
        dividerContent: "dividerContent-2L12VI da-dividerContent",
        dividerRed: "dividerRed-MKoLlr da-dividerRed",
        hasMore: "hasMore-3e72_v da-hasMore",
        highBackgroundOpacity: "highBackgroundOpacity-3jOag9 da-highBackgroundOpacity",
        jumpToPresentBar: "jumpToPresentBar-9P20AM da-jumpToPresentBar",
        loadingMore: "loadingMore-sPqUXZ da-loadingMore",
        lowBackgroundOpacity: "lowBackgroundOpacity-3fM3UP da-lowBackgroundOpacity",
        mediumBackgroundOpacity: "mediumBackgroundOpacity-3rMHHl da-mediumBackgroundOpacity",
        messageGroupBlocked: "messageGroupBlocked-3wrQQX da-messageGroupBlocked",
        messageGroupBlockedBtn: "messageGroupBlockedBtn-1PBBh- da-messageGroupBlockedBtn",
        newMessagesBar: "newMessagesBar-mujexs da-newMessagesBar",
        revealed: "revealed-1_RKsf da-revealed",
        spinner: "spinner-qO2DFZ da-spinner",
        spinnerItem: "spinnerItem-2r0Owh da-spinnerItem"
    ),
    MessageInner: (
        highBackgroundOpacity: "highBackgroundOpacity-3AqE9E",
        lowBackgroundOpacity: "lowBackgroundOpacity-1KhCYy",
        markup: "markup-2BOw-j",
        mediumBackgroundOpacity: "mediumBackgroundOpacity-2Rzlhk"
    ),
    Channel: (
        aka: "aka-1mqp34",
        background: "backgr,ound-1FptAZ",
        channelIcon: "channelIcon-MsmKOO",
        channelName: "channelName-3stJzi",
        channelTextArea: "channelTextArea-rNsIhG",
        chat: "chat-3bRxxu firefoxFixScrollFlex-cnI2ix",
        content: "content-yTz4x3 firefoxFixScrollFlex-cnI2ix",
        editPartyIcon: "editPartyIcon-1GA5r3",
        expandable: "expandable-26ClD4",
        firefoxFixScrollFlex: "firefoxFixScrollFlex-cnI2ix",
        groupDM: "groupDM-3qU0Ks",
        groupDMManaged: "groupDMManaged-1GyXtq",
        mobileIndicator: "mobileIndicator-U-7hTl",
        noChannel: "noChannel-Z1DQK7",
        noTopic: "noTopic-2b04lB",
        status: "status-1XNdyw",
        statusWithMobile: "statusWithMobile-152_jv",
        title: "title-3qD0b-",
        titleCall: "titleCall-_b9o8P",
        titleText: "titleText-3X-zRE",
        titleWrapper: "titleWrapper-1l0xT9",
        topic: "topic-2QX7LI"
    ),
    Containers: (
        height16: "height16-2Lv3qA",
        height20: "height20-mO2eIN",
        height28: "height28-3tox65",
        large: "large-3Q-_XB size24-1ONE4K height28-3tox65",
        medium: "medium-zmzTW- size16-14cGz5 height20-mO2eIN",
        primary: "primary-jw0I4K",
        selectable: "selectable-x8iAUj",
        size12: "size12-3R0845",
        size16: "size16-14cGz5",
        size24: "size24-1ONE4K",
        small: "small-29zrCQ size12-3R0845 height16-2Lv3qA"
    ),
    Modal: (
        close: "close-18n9bP",
        content: "content-2BXhLs",
        footer: "footer-2yfCgX",
        fullscreenOnMobile: "fullscreenOnMobile-1msoxy",
        header: "header-1R_AjF",
        inner: "inner-3wn6Q5",
        modal: "modal-3HD5ck",
        separator: "separator-6YbWrc",
        sizeLarge: "sizeLarge-3clvAM",
        sizeMedium: "sizeMedium-1fwIF2",
        sizeSmall: "sizeSmall-Sf4iOi"
    ),
    Buttons: (
        button: "button-38aScr",
        colorBlack: "colorBlack-1jwPVL",
        colorBrand: "colorBrand-3pXr91",
        colorGreen: "colorGreen-29iAKY",
        colorGrey: "colorGrey-2DXtkV",
        colorLink: "colorLink-35jkBc",
        colorPrimary: "colorPrimary-3b3xI6",
        colorRed: "colorRed-1TFJan",
        colorTransparent: "colorTransparent-1ewNp9",
        colorWhite: "colorWhite-rEQuAQ",
        colorYellow: "colorYellow-2JqYwt",
        contents: "contents-18-Yxp",
        disabledButtonOverlay: "disabledButtonOverlay-2DA5FI",
        disabledButtonWrapper: "disabledButtonWrapper-3wH6-b",
        fullWidth: "fullWidth-1orjjo",
        grow: "grow-q77ONN",
        hasHover: "hasHover-3X1-zV",
        hoverBlack: "hoverBlack-3jULb8",
        hoverBrand: "hoverBrand-1_Fxlk",
        hoverGreen: "hoverGreen-1gjdJc",
        hoverGrey: "hoverGrey-2CBXu0",
        hoverLink: "hoverLink-i1fEKS",
        hoverPrimary: "hoverPrimary-2D1j2r",
        hoverRed: "hoverRed-2NoOXI",
        hoverTransparent: "hoverTransparent-2Lz5CN",
        hoverWhite: "hoverWhite-2uUmXw",
        hoverYellow: "hoverYellow-171chs",
        lookBlank: "lookBlank-3eh9lL",
        lookFilled: "lookFilled-1Gx00P",
        lookGhost: "lookGhost-2Fn_0-",
        lookInverted: "lookInverted-2D7oAl",
        lookLink: "lookLink-9FtZy-",
        lookOutlined: "lookOutlined-3sRXeN",
        sizeIcon: "sizeIcon-1-kvKI",
        sizeLarge: "sizeLarge-1vSeWK",
        sizeMax: "sizeMax-1Mj0eU",
        sizeMedium: "sizeMedium-1AC_Sl",
        sizeMin: "sizeMin-1mJd1x",
        sizeSmall: "sizeSmall-2cSMqn",
        sizeXlarge: "sizeXlarge-2yFAlZ",
        spinner: "spinner-3a9zLT",
        spinnerItem: "spinnerItem-3GlVyU",
        submitting: "submitting-3qlO9O"
    ),
    SearchBoxes: (
        focused: "focused-31_ccS",
        icon: "icon-38sknP",
        open: "open-6_Y_aH",
        search: "search-2oPWTC",
        searchBar: "searchBar-3dMhjb searchBar-2_Yu-C",
        searchBarLight: "searchBarLight-2Nqm9O searchBarLight-1NxoDG"
    ),
    //For stuff like Settings
    Panel: (
        contentColumn: "contentColumn-2hrIYH",
        contentColumnDefault: "contentColumnDefault-1VQkGM",
        contentColumnMinimal: "contentColumnMinimal-2iX-kP",
        contentRegion: "contentRegion-3nDuYy",
        contentRegionScroller: "contentRegionScroller-26nc1e",
        contentRegionScrollerWrap: "contentRegionScrollerWrap-3YZXdm",
        contentTransitionWrap: "contentTransitionWrap-3hqOEW",
        customColumn: "customColumn-Rb6toI",
        customContainer: "customContainer-1RHXqt",
        customHeader: "customHeader-PhBRGa",
        customScroller: "customScroller-26gWhv",
        noticeRegion: "noticeRegion-1YviSH",
        sidebar: "sidebar-CFHs9e",
        sidebarRegion: "sidebarRegion-VFTUkN",
        sidebarRegionScroller: "sidebarRegionScroller-3MXcoP",
        standardSidebarView: "standardSidebarView-3F1I7i",
        tools: "tools-3-3s-N",
        toolsContainer: "toolsContainer-1edPuj"
    ),
    PanelSide: (
        header: "header-2RyJ0Y",
        item: "item-PXvHYJ",
        itemDefault: "itemDefault-3Jdr52 item-PXvHYJ notSelected-1N1G5p",
        itemHover: "itemHover-EnbcjT item-PXvHYJ notSelected-1N1G5p",
        itemSelected: "itemSelected-1qLhcL item-PXvHYJ selected-3s45Ha",
        notSelected: "notSelected-1N1G5p",
        selected: "selected-3s45Ha",
        separator: "separator-gCa7yv",
        side: "side-8zPYf6",
        top: "top-28JiJ-",
        topPill: "topPill-30KHOu",
    ),
    Social: (
        foreground: "foreground-26ym5y",
        link: "link-1IoFq-",
        socialLinks: "socialLinks-3jqNFy"
    ),
    UserAccountConfig: (
        alignCenter: "alignCenter-1dQNNs",
        avatarColumn: "avatarColumn-VWwg1S",
        avatarUploaderInner: "avatarUploaderInner-3Mrx2N",
        btn: "btn-1PnLxm",
        btnPrimary: "btnPrimary-1jluZW",
        checkboxGroup: "checkboxGroup-3_9osm",
        code: "code-2d9-2m",
        codeCheckbox: "codeCheckbox-1T0TTy",
        danger: "danger-16OpjC",
        flexCenter: "flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs",
        icon: "icon-3a_Jgd",
        isEnabled: "isEnabled-24g9qA",
        justifyBetween: "justifyBetween-2tTqYu",
        lockIcon: "lockIcon-2Hj8Tq",
        multiInput: "multiInput-1e2xJ7 flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs justifyBetween-2tTqYu alignCenter-1dQNNs",
        multiInputField: "multiInputField-1x_Zdx",
        multiInputFirst: "multiInputFirst-1TXcIn",
        multiInputLast: "multiInputLast-1aQ3YA",
        phoneRevealer: "phoneRevealer-3-Mv3e",
        questionMark: "questionMark-CWEQZn flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs",
        userInfoEditing: "userInfoEditing-1CEzdT",
        userInfoViewing: "userInfoViewing-16kqK3",
        userInfoViewingButton: "userInfoViewingButton-2-jbH9",
        userSettingsAccount: "userSettingsAccount-2eMFVR",
        userSettingsSecurity: "userSettingsSecurity-3IYeMF",
        userSettingsSecurityImage: "userSettingsSecurityImage-21pI_Q",
        viewBody: "viewBody-2Qz-jg",
        warning: "warning--Ek9es"
    ),
    ComboBox: (
        box: "box-mmYMsp",
        checkbox: "checkbox-1ix_J3 flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs",
        checkboxWrapper: "checkboxWrapper-SkhIWG",
        checkboxWrapperDisabled: "checkboxWrapperDisabled-36r8NK checkboxWrapper-SkhIWG",
        checked: "checked-3_4uQ9",
        flexCenter: "flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs",
        input: "input-3ITkQf",
        inputDefault: "inputDefault-3JxKJ2 input-3ITkQf",
        inputDisabled: "inputDisabled-110Jqx input-3ITkQf",
        inputReadonly: "inputReadonly-rYU97L input-3ITkQf",
        label: "label-cywgfr",
        labelDisabled: "labelDisabled-G7bjji",
        reverseLabel: "reverseLabel-3ANTBK",
        reverseLabelDisabled: "reverseLabelDisabled-1LBunF",
        round: "round-2jCFai"
    ),
    RadioGroup: (
        desc: "desc-2Dttbk marginTop4-2BNfKC",
        descChecked: "descChecked-XkfPsU desc-2Dttbk marginTop4-2BNfKC",
        disabled: "disabled-1FsPTr",
        horizontal: "horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG",
        info: "info-3LOr12",
        item: "item-26Dhrx marginBottom8-AtZOdT horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG",
        marginBottom8: "marginBottom8-AtZOdT",
        marginTop4: "marginTop4-2BNfKC",
        radioGroup: "radioGroup-1GBvlr",
        title: "title-3BE6m5",
        titleChecked: "titleChecked-2wg0pd title-3BE6m5"
    ),
    OptionDescription: (
        disabled: "disabled-2HSEFa",
        dividerDefault: "dividerDefault-3rvLe-",
        dividerMini: "dividerMini-3ZRJ-S",
        note: "note-1V3kyJ",
        switchItem: "switchItem-2hKKKK",
        title: "title-31JmR4",
        titleDefault: "titleDefault-a8-ZSr title-31JmR4",
        titleMini: "titleMini-pBwj_L title-31JmR4"
    ),
    Toggles: (
        checkbox: "checkbox-2tyjJg",
        checkboxDisabled: "checkboxDisabled-1MA81A checkbox-2tyjJg",
        checkboxEnabled: "checkboxEnabled-CtinEn checkbox-2tyjJg",
        size: "size-3rFEHg",
        sizeDefault: "sizeDefault-2YlOZr size-3rFEHg",
        sizeMini: "sizeMini-1ii40f size-3rFEHg",
        switch: "switch-3wwwcV",
        switchDisabled: "switchDisabled-3HsXAJ switch-3wwwcV",
        switchEnabled: "switchEnabled-V2WDBB switch-3wwwcV",
        themeClear: "themeClear-1EjkE4",
        themeDefault: "themeDefault-24hCdX",
        value: "value-2hFrkk",
        valueChecked: "valueChecked-m-4IJZ value-2hFrkk",
        valueUnchecked: "valueUnchecked-2lU_20 value-2hFrkk"
    ),
    NitroDetails: (
        banner: "banner-3Kac2g",
        buttons: "buttons-2FmDnk",
        canceled: "canceled-nz3kfr",
        details: "details-nLuvoA",
        image: "image-S2twTr",
        pastDue: "pastDue-3JKEFl",
        periodInfo: "periodInfo-2mik6K",
        planName: "planName-1SYoJ1",
        premiumCodeBanner: "premiumCodeBanner-XH3XCe",
        tier1: "tier1-1ttHRY",
        tier2: "tier2-3hSil0",
        tierGrandfathered: "tierGrandfathered-R6zrrD",
        toolsButton: "toolsButton-9wOG4D"
    ),
    NitroSection: (
        details: "details-1YZMDP",
        finePrint: "finePrint-xGGTK5",
        grandfatheredIcon: "grandfatheredIcon-18y60L",
        grandfatheredMessage: "grandfatheredMessage-1BnHtv",
        headerOnlySection: "headerOnlySection-1Xq697",
        section: "section-3sEseC"
    ),
    //Full Nitro Tier
    NitroSectionTier2: (
        background: "background-3N1V7e",
        container: "container-3tsDtp",
        content: "content-mfgrep",
        disabledButtonOverlay: "disabledButtonOverlay-1tp8lr",
        disabledButtonWrapper: "disabledButtonWrapper-aOP03G",
        featureNotIncluded: "featureNotIncluded-3LNwzv",
        giftButton: "giftButton-3hOWFt",
        headerIcon: "headerIcon-3bqya6",
        horizontalButton: "horizontalButton-3XTZRe",
        horizontalButtons: "horizontalButtons-31inDG",
        iconIncluded: "iconIncluded-2xYFq5",
        loading: "loading-1kklU1",
        newSubscriptionButton: "newSubscriptionButton-eMLHPG",
        planDescription: "planDescription-bruajp",
        planFeature: "planFeature-oiMrLD",
        planFeatureIcon: "planFeatureIcon-2IPRYs",
        planFeatures: "planFeatures-HHVr9J",
        planInfo: "planInfo-3TGSfj",
        planOption: "planOption-2-re8V",
        sectionHeader: "sectionHeader-127c3L",
        sectionTier1: "sectionTier1-2w9cqh",
        sectionTier2: "sectionTier2-2VzIKw",
        subscribeButton: "subscribeButton-2h8nOh",
        subtitle: "subtitle-UfhpvR",
        tier1Banner: "tier1Banner-1B_WXY",
        tier1Image: "tier1Image-19VwIC",
        tier2TrialButtons: "tier2TrialButtons-2klawF",
        title: "title-2a5mvx",
        trialButton: "trialButton-17sl_1",
        trialButtonIcon: "trialButtonIcon-195n7N",
        trialButtonInner: "trialButtonInner-1ncoKA",
        upgradeSubscriptionButton: "upgradeSubscriptionButton-29pqYb",
        verticalButtons: "verticalButtons-3jkiMb",
        yearlyButtonDiscount: "yearlyButtonDiscount-2K7GZZ",
        yearlyButtonInner: "yearlyButtonInner-2Gb1N_"
    ),
    NotificationSection: (
        notificationSettings: "notificationSettings-1NQKPR"
    ),
    NotificationSectionInner: (
        bottomLeft: "bottomLeft-39-xss option-n0icdO",
        bottomRight: "bottomRight-1T56wW option-n0icdO",
        disabled: "disabled-3I9jyo",
        disabledIcon: "disabledIcon-9QatvX",
        disabledSelected: "disabledSelected-2Kf0yZ",
        hasFocus: "hasFocus-2ksn_h",
        hiddenInput: "hiddenInput-AN-Xon",
        option: "option-n0icdO",
        selected: "selected-mKYnfr",
        topLeft: "topLeft-3buHIc option-n0icdO",
        topRight: "topRight-3GKDeL option-n0icdO",
        wrapper: "wrapper-3jrx9n"
    ),
    PrivateChannelsList: (
        downloadProgressCircle: "downloadProgressCircle-3_wgim",
        hideGameUpdateProgressIndicator: "hideGameUpdateProgressIndicator-YAQq-w",
        privateChannels: "privateChannels-1nO12o",
        searchBar: "searchBar-6Kv8R2",
        searchBarComponent: "searchBarComponent-32dTOx",
        tabBadge: "tabBadge-3smxHS"
    ),
    PrivateChannels: (
        activity: "activity-525YDR",
        activityIcon: "activityIcon-1mtTk4",
        activityIconForeground: "activityIconForeground-3VIgI8",
        activityText: "activityText-OW8WYb",
        avatar: "avatar-28BJzY",
        channel: "channel-2QD9_O",
        close: "close-3hZ5Ni",
        linkButtonIcon: "linkButtonIcon-Mlm5d6",
        mobileIndicator: "mobileIndicator-3gyhuE",
        mobileIndicatorWithActivity: "mobileIndicatorWithActivity-Q4F8GA",
        name: "name-2WpE7M",
        nameWithActivity: "nameWithActivity-1ceSyU",
        nameWrapper: "nameWrapper-10v56U",
        selected: "selected-1HYmZZ",
        status: "status-1ibiUI"
    ),
    DownloadProgressContainer: (
        downloadIcon: "downloadIcon-3TWA3B da-downloadIcon",
        progressCircleWrapper: "progressCircleWrapper-2DTbia da-progressCircleWrapper"
    ),
    HeaderIcons: (
        divider: "divider-2PMBlV",
        headerBar: "headerBar-UHpsPw",
        headerBarDrag: "headerBarDrag-3bf7wG",
        icon: "icon-1R19_H",
        iconActive: "iconActive-AKd_jq icon-1R19_H",
        iconBadge: "iconBadge-2dji3k",
        iconBadgeWrapper: "iconBadgeWrapper-1vhG5S iconMargin-2YXk4F",
        iconDisabled: "iconDisabled-XgNR1p icon-1R19_H",
        iconForeground: "iconForeground-3y9f0B",
        iconInactive: "iconInactive-g2AXfB icon-1R19_H",
        iconMargin: "iconMargin-2YXk4F",
        title: "title-1aVOXw"
    ),
    PopoutsContainer: (
        arrowAlignmentMiddle: "arrowAlignmentMiddle-136iao",
        arrowAlignmentTop: "arrowAlignmentTop-iGQczz",
        body: "body-1CHPZz",
        footer: "footer-SRC48P",
        header: "header-SsaQ8X",
        noArrow: "noArrow-3BYQ0Z",
        noShadow: "noShadow-321ZPm",
        popout: "popout-3sVMXz",
        popoutBottom: "popoutBottom-1YbShG",
        popoutBottomLeft: "popoutBottomLeft-JehOp2",
        popoutBottomRight: "popoutBottomRight-2JrySt",
        popoutInvert: "popoutInvert-3UdKhn",
        popoutLeft: "popoutLeft-30WmrD",
        popoutRight: "popoutRight-2ZVwL-",
        popoutTop: "popoutTop-3uu9vG",
        popoutTopLeft: "popoutTopLeft-b5Eb3O",
        popoutTopRight: "popoutTopRight-3BzFIE",
        popouts: "popouts-3dRSmE",
        subtitle: "subtitle-37ivwK",
        themedPopout: "themedPopout-25DgLi",
        tip: "tip-2WErbi",
        title: "title-23FrqZ"
    ),
    PopoutMenu: (
        alt: "alt-3btY0e",
        helper: "helper-2c73HK",
        icon: "icon-2doZ3q",
        invite: "invite-271nFU",
        item: "item-1GzJrl",
        label: "label-1Y-LW5",
        leave: "leave-1DRJfn",
        menu: "menu-Sp6bN1",
        separator: "separator-2zcjq8",
        statusIconText: "statusIconText-3b4TkH"
    ),
    Emoji: (
        emojiButton: "emojiButton-3uL3Aw",
        emojiButtonHovered: "emojiButtonHovered-1rWNal emojiButton-3uL3Aw",
        emojiButtonNormal: "emojiButtonNormal-TdumYh emojiButton-3uL3Aw",
        sprite: "sprite-2iCowe",
        spriteHovered: "spriteHovered-3lIo93 sprite-2iCowe",
        spriteNormal: "spriteNormal-1wvG5n sprite-2iCowe"
    ),
    MentionEveryoneConfirm: (
        animation: "animation-3GofIz",
        body: "body-2iXqIL",
        button: "button-1VQp89",
        buttonContainer: "buttonContainer-1BodPZ",
        buttonHint: "buttonHint-2OxJB8",
        buttonWrapper: "buttonWrapper-rQnAjG",
        content: "content-L5mYq4",
        everyonePopout: "everyonePopout-nEbJY3",
        footer: "footer-2aTx0s",
        header: "header-3_S6dz",
        icon: "icon-2qOzDL"
    ),
    TextAreaContainer: (
        attachButton: "attachButton-1UjEWA da-attachButton",
        attachButtonDivider: "attachButtonDivider-3Glu60 da-attachButtonDivider",
        attachButtonInner: "attachButtonInner-1iyZ9F da-attachButtonInner",
        attachButtonPlay: "attachButtonPlay-ZnFdQr da-attachButtonPlay",
        attachButtonPlus: "attachButtonPlus-rUdX-B da-attachButtonPlus",
        attachPopout: "attachPopout-1n-ZKM da-attachPopout",
        attachPopoutIcon: "attachPopoutIcon-26Np2W da-attachPopoutIcon",
        attachPopoutIconForeground: "attachPopoutIconForeground-OohRrL da-attachPopoutIconForeground",
        attachPopoutRow: "attachPopoutRow-KrE-f6 da-attachPopoutRow",
        attachPopoutRowText: "attachPopoutRowText-1tIocA da-attachPopoutRowText",
        autocomplete: "autocomplete-i9yVHs da-autocomplete",
        button: "button-2vd_v_ da-button",
        buttonContainer: "buttonContainer-21MN7J da-buttonContainer",
        buttons: "buttons-205you da-buttons",
        channelTextArea: "channelTextArea-1LDbYG da-channelTextArea",
        channelTextAreaDisabled: "channelTextAreaDisabled-rZtG8r channelTextArea-1LDbYG da-channelTextAreaDisabled da-channelTextArea",
        channelTextAreaEnabled: "channelTextAreaEnabled-iusU9o channelTextArea-1LDbYG da-channelTextAreaEnabled da-channelTextArea",
        channelTextAreaEnabledNoAttach: "channelTextAreaEnabledNoAttach-3tPFmT channelTextArea-1LDbYG da-channelTextAreaEnabledNoAttach da-channelTextArea",
        flex: "flex-1O1GKY da-flex",
        gifPickerIcon: "gifPickerIcon-132le6 da-gifPickerIcon",
        highBackgroundOpacity: "highBackgroundOpacity-3qU_98 da-highBackgroundOpacity",
        inner: "inner-zqa7da flex-1O1GKY da-inner da-flex",
        innerAutocomplete: "innerAutocomplete-1PN280 da-innerAutocomplete",
        innerDisabled: "innerDisabled-2mc-iF inner-zqa7da flex-1O1GKY da-innerDisabled da-inner da-flex",
        innerEnabled: "innerEnabled-3g80kR inner-zqa7da flex-1O1GKY da-innerEnabled da-inner da-flex",
        innerEnabledNoAttach: "innerEnabledNoAttach-NE9K7P inner-zqa7da flex-1O1GKY da-innerEnabledNoAttach da-inner da-flex",
        innerNoAutocomplete: "innerNoAutocomplete-1WpcVO da-innerNoAutocomplete",
        lowBackgroundOpacity: "lowBackgroundOpacity-23QPu2 da-lowBackgroundOpacity",
        mediumBackgroundOpacity: "mediumBackgroundOpacity-1nSfBc da-mediumBackgroundOpacity",
        textArea: "textArea-2Spzkt da-textArea",
        textAreaDisabled: "textAreaDisabled-2_o-kZ textArea-2Spzkt da-textAreaDisabled da-textArea",
        textAreaEdit: "textAreaEdit-bNLDk3 textArea-2Spzkt da-textAreaEdit da-textArea",
        textAreaEnabled: "textAreaEnabled-3vQ5WZ textArea-2Spzkt da-textAreaEnabled da-textArea",
        textAreaEnabledNoAttach: "textAreaEnabledNoAttach-1WxUwj textArea-2Spzkt da-textAreaEnabledNoAttach da-textArea",
        textAreaForm: "textAreaForm-18s4EO textArea-2Spzkt da-textAreaForm da-textArea",
        uploadInput: "uploadInput-2lNPSo da-uploadInput"
    )
);