// App
    $appMount: '.appMount-3lHmkl';
// Badge
    $badge-base: '.base-PmTxvP';
    $badge-wrapper: '.mentionsBadge-7f5lud';
    $badge: '.numberBadge-2s8kKX';
// Channel List
    $channelList-actionIcon: '.actionIcon-2Hi9ZG';
    $channelList-bannerImage: '.bannerImage-1jOskm';
    $channelList-categoryIcon: '.icon-WnO6o2';
    $channelList-categoryName: '.name-IbjUBS';
    $channelList-container: '.container-PNkimc';
    $channelList-header: '.header-2o-2hj';
    $channelList-headerButton: '.button-1w5pas';
    $channelList-headerContainer: '.container-2Rl01u';
    $channelList-headerName: '.name-3YKhmS';
    $channelList-item: '.containerDefault-1ZnADq';
    $channelList-itemConnectedInner: '.modeConnected-2IEL4z';
    $channelList-itemContent: '.content-3at_AU';
    $channelList-itemContentWrapper: '.wrapper-1ucjTd';
    $channelList-itemIcon: '.icon-1_QxNX';
    $channelList-itemMutedInner: '.modeMuted-3osy7j';
    $channelList-itemName: '.name-3_Dsmg';
    $channelList-itemSelected: '.selected-37j_iU';
    $channelList-itemSelectedInner: '.modeSelected-1zApJ_';
    $channelList-itemUnread: '.unread-3zKkbm';
    $channelList-itemUnreadInner: '.modeUnread-1zpFdA';
    $channelList-scroller: '.scroller-2wx7Hm';
    $channelList-withBanner: '.withBanner-3j8ruM';
    $channelList: '.channels-Ie2l6A';
// Channel Text Area
    $channelTextArea-attachPopout: '.attachPopout-1n-ZKM';
    $channelTextArea-inner: '.inner-zqa7da';
    $channelTextArea-text: '.textArea-2Spzkt';
// Chat
    $chat-akaBadge: '.akaBadge-1M-1Gw';
    $chat-base: '.base-3dtUhz';
    $chat-channelTextArea: '.channelTextArea-1LDbYG';
    $chat-channelTextAreaButtons: '.buttons-205you';
    $chat-channelTextAreaInner: '.inner-zqa7da';
    $chat-content: '.content-yTz4x3';
    $chat-guildMenu: '.menu-Sp6bN1';
    $chat-guildMenuInviteItem: '.invite-271nFU';
    $chat-guildMenuItem: '.item-1GzJrl';
    $chat-guildMenuLeaveItem: '.leave-1DRJfn';
    $chat-headerButtonIconWrapper: '.iconWrapper-2OrFZ1';
    $chat-headerMobileIndicator: '.mobileIndicator-U-7hTl';
    $chat-inviteWrapper: '.wrapper-35wsBm';
    $chat-jumpToPresentBar: '.jumpToPresentBar-9P20AM';
    $chat-messagesWrapper: '.messagesWrapper-3lZDfY';
    $chat-newMessagesBar: '.newMessagesBar-mujexs';
    $chat-nicknames: '.nicknames-1XK4Zt';
    $chat-noChannel: '.noChannel-Z1DQK7';
    $chat-searchBar: '.search-2oPWTC';
    $chat-searchBarIcon: '.icon-38sknP';
    $chat-searchBarIconWrapper: '.iconContainer-O4O2CN';
    $chat-searchBarInner: '.searchBar-3dMhjb';
    $chat-searchBarInput: '.input-1Rv96N';
    $chat-searchBarWrapper: '.search-36MZv-';
    $chat-searchBarWrapper: '.search-l1Wz-Q';
    $chat-headerStatus: '.status-1XNdyw';
    $chat-titleInput: '.input-2A_zIr';
    $chat-titleText: '.titleText-3X-zRE';
    $chat-typing: '.typing-2GQL18';
    $chat: '.chat-3bRxxu';
//Client
    $client-app: '.app-19_DXt';
    $client-button: '.button-38aScr';
    $client-buttonIcon: '.buttonIcon-3yYVOH';
    $client-buttonAccentFilled: '.colorBrand-3pXr91';
    $client-buttonFilled: '.lookFilled-1Gx00P';
    $client-buttonNormal: '.buttonSize-2Pmk-w';
    $client-colorBlindMode: '.colorblind-mode';
    $client-contextMenu: '.contextMenu-HLZMGh';
    $client-contextMenuItem: '.item-1Yvehc';
    $client-headerBar: '.container-1r6BKw';
    $client-headerContent: '.children-19S4PO';
    $client-headerContentDivider: '.divider-3FBTu8';
    $client-headerIcon: '.icon-22AiRD';
    $client-headerTitle: '.title-29uC1r';
    $client-largeButton: '.sizeLarge-1vSeWK';
    $client-layerAnimating: '.animating-rRxada';
    $client-layers: '.layers-3iHuyZ';
    $client-layer: '.layer-3QrUeG';
    $client-linux: '.platform-linux';
    $client-macButtonClose: '.macButtonClose-MwZ2nf';
    $client-macButtonMaximize: '.macButtonMaximize-2FMHAO';
    $client-macButtonMinimize: '.macButtonMinimize-3EJ6wo';
    $client-macOs: '.platform-osx';
    $client-macOSTitleBar: '.typeMacOS-3EmCyP';
    $client-macOSTitleBarUnfocused: '.unfocused-1QsMU3';
    $client-mediumButton: '.sizeMedium-1AC_Sl';
    $client-minButton: '.sizeMin-1mJd1x';
    $client-popout: '.popout-3sVMXz';
    $client-popoutBottom: '.popoutBottom-1YbShG';
    $client-popoutBottomLeft: '.popoutBottomLeft-JehOp2';
    $client-popoutNoArrow: '.popoutBottomRight-2JrySt';
    $client-popoutTopLeft: '.popoutTopLeft-b5Eb3O';
    $client-popoutTopRight: '.popoutTopRight-3BzFIE';
    $client-primaryButton: '.colorPrimary-3b3xI6';
    $client-scroller: '.scroller-2FKFPG';
    $client-scrollerWrap: '.scrollerWrap-2lJEkd';
    $client-smallButton: '.sizeSmall-2cSMqn';
    $client-themedPopout: '.themedPopout-25DgLi';
    $client-titleBar: '.titleBar-AC4pGV';
    $client-toolbar: '.toolbar-1t6TWx';
    $client-topic: '.topic-TCb_qw';
    $client-web: '.platform-web';
    $client-win: '.platform-win';
    $client-winButton: '.winButton-iRh8-Z';
    $client-winButtonClose: '.winButtonClose-1HsbF-';
    $client-winButtonMinMax: '.winButtonMinMax-PBQ2gm';
    $client-winTitleBar: '.typeWindows-1za-n7';
    $client-wordmark: '.wordmark-2iDDfm';
// Current Account
    $currentAccount-nameTag: '.nameTag-LxtdSI';
    $currentAccount-avatar: '.avatar-3JE4B3';
    $currentAccount-button: '.button-s03oPN';
    $currentAccount-buttonInner: '.contents-18-Yxp';
    $currentAccount-container: '.container-2Thooq';
    $currentAccount-discriminator: '.discriminator-3W31ZY';
    $currentAccount-status: '.status-2kJpnA';
    $currentAccount-username: '.username-u0EL4I';
    $currentAccount-usernameContainer: '.usernameContainer-1GWXka';
// Emoji Picker
    $emojiPicker-searchBar: '.searchBar-2pWH0_';
// Library
    $library-downloadIcon: '.downloadIcon-3TWA3B';
    $library-downloadProgressCircleWrapper: '.downloadProgressCircle-3_wgim';
    $library-filter: '.libraryFilter-31ZUa2';
// Main
    $main-app: '.app-2rEoOp';
    $main-themeDark: '.theme-dark';
    $main-themeLight: '.theme-light';
// Main Nav List (mostly servers)
    $mainNavList-actionButton: '.circleIconButton-jET_ig';
    $mainNavList-actionButtonInner: '.circleIcon-LvPL6c';
    $mainNavList-actionIndicatorWrapper: '.pill-3YxEhL';
    $mainNavList-actionSelected: '.selected-ugP_am';
    $mainNavList-badgeWrapper: '.badgeWrapper-3e8pMZ';
    $mainNavList-guildNoIconSelected: '.selected-bZ3Lue';
    $mainNavList-homeButton: '.button-OhfaWu';
    $mainNavList-homeIcon: '.homeIcon-tEMBK1';
    $mainNavList-homeIndicatorWrapper: '.pill-2uzAFe';
    $mainNavList-homeLink: '.button-OhfaWu';
    $mainNavList-homeSelected: '.selected-wSa2KV';
    $mainNavList-indicator: '.item-2hkk8m';
    $mainNavList-indicatorWrapper: '.pill-31IEus';
    $mainNavList-item: '.listItem-2P_4kh';
    $mainNavList-itemAcronym: '.acronym-2mOFsV';
    $mainNavList-itemButton: '.wrapper-1BJsBx';
    $mainNavList-itemInnerContainer: '.blobContainer-239gwq';
    $mainNavList-itemIcon: '.icon-27yU2q';
    $mainNavList-itemInner: '.wrapper-25eVIn';
    $mainNavList-itemSvg: '.svg-1X37T1';
    $mainNavList-itemInnerWrapper: '.listItemWrapper-3X98Pc';
    $mainNavList-lowerBadge: '.lowerBadge-29hYVK';
    $mainNavList-scroller: '.scroller-2TZvBN';
    $mainNavList-scrollerWrap: '.scrollerWrap-1IAIlv';
    $mainNavList-separater: '.guildSeparator-3s64Iy';
    $mainNavList-upperBadge: '.upperBadge-2XnnGB';
    $mainNavList-wrapper: '.wrapper-1Rf91z';
// Members List
    $membersList-activity: ".activity-1IYsbk";
    $membersList-activityIcon: ".activityIcon-S3CciC";
    $membersList-activityIconForeground: ".activityIconForeground-qYIPPg";
    $membersList-activityText: ".activityText-sLG0UL";
    $membersList-avatarOffline: ".avatarOffline-3GF27z";
    $membersList-avatarWrapper: ".avatarWrapper-3B0ndJ";
    $membersList-content: ".content-OzHfo4";
    $membersList-darken: ".darken-1wMGLZ";
    $membersList-member: ".member-3W1lQa";
    $membersList-memberGroupsPlaceholder: ".memberGroupsPlaceholder-3mwPub";
    $membersList-memberInner: ".memberInner-2CPc3V";
    $membersList-memberOffline: ".memberOffline-2lN7gt";
    $membersList-memberOnline: ".memberOnline-1CIh-0";
    $membersList-membersGroup: ".membersGroup-v9BXpm";
    $membersList-membersWrap: ".membersWrap-2h-GB4";
    $membersList-mobileIndicator: ".mobileIndicator-329Gd6";
    $membersList-nameTag: ".nameTag-3p0yK-";
    $membersList-ownerIcon: ".ownerIcon-uZ6mE7";
    $membersList-placeholder: ".placeholder-oNR4zO";
    $membersList-placeholderPulse: ".placeholderPulse-2rZrru";
    $membersList-scrollerWrap: ".scrollerWrap-otKoZo";
    $membersList-status: ".status-2s6iDp";
    $membersList-statusAnimated: ".statusAnimated-1SvwJ-";
    $membersList-statusStatic: ".statusStatic-3QpK4G";
    $membersList-username: ".username-1cB_5E";
    $membersList-usernameOffline: ".usernameOffline-3VSVLk";
    $membersList-usernameOnline: ".usernameOnline-3jr_0Y";
    $membersList: ".members-1998pB";
// Message
    $message-button: '.button-3Jq0g9';
    $message-buttonContainer: 'buttonContainer-37UsAw';
    $message-buttonContainerWrapper: '.buttonContainer-KtQ8wc';
    $message-container: '.container-206Blv';
    $message-containerCompact: '.containerCompact-3pGPJs';
    $message-containerCozy: '.containerCozy-336-Cz';
    $message-divider: '.divider-3gKybi';
    $message-dividerContent: '.dividerContent-2L12VI';
    $message-dividerEnabled: '.dividerEnabled-2TTlcf';
    $message-dividerRed: '.dividerRed-MKoLlr';
    $message-embed: '.embed-IeVjo6';
    $message-embedContentInner: '.embedContentInner-FBnk7v';
    $message-isMentioned: '.isMentioned-N-h9aa';
    $message-isMentionedCompact: '.isMentionedCompact-3rpPdN';
    $message-isMentionedCozy: '.isMentionedCozy-3isp7y';
    $message-markup: '.markup-2BOw-j';
    $message: '.message-1PNnaP';
// Messages Popout
    $messagesPopout-wrap: '.messagesPopoutWrap-1MQ1bW';
// Modal
    $modal-additionalActionsIcon: '.additionalActionsIcon-1FoUlE';
    $modal-body: '.body-3ND3kc';
    $modal-header: '.header-QKLPzZ';
    $modal-inner: '.inner-1JeGVc';
    $modal-itemSelected: '.itemSelected-1qLhcL';
    $modal-root: '.root-SR8cQa';
    $modal-tabBarItem: '.tabBarItem-1b8RUP';
    $modal-top: '.top-28JiJ-';
    $modal-topSectionNormal: '.topSectionNormal-2-vo2m';
    $modal-topSectionPlaying: '.topSectionPlaying-1J5E4n';
    $modal-topSectionSpotify: '.topSectionSpotify-1lI0-P';
    $modal-topSectionStreaming: '.topSectionStreaming-1Tpf5X';
// Page
    $page-filterIcon: '.icon-1S6UIr';
    $page-filterInput: '.input-3Xdcic';
    $page-filterInputWrapper: '.inner-2P4tQO';
    $page-iconContainer: '.iconLayout-3OgqU3';
    $page-searchBar: '.container-cMG81i';
// Private Channel List
    $privateChannelList-channel: '.channel-2QD9_O';
    $privateChannelList-channelActivity: '.activity-525YDR';
    $privateChannelList-channelActivityIcon: '.activityIcon-1mtTk4';
    $privateChannelList-channelActivityIconForeground: '.activityIconForeground-3VIgI8';
    $privateChannelList-channelActivityText: 'activityText-OW8WYb';
    $privateChannelList-channelClose: '.close-3hZ5Ni';
    $privateChannelList-channelName: '.name-2WpE7M';
    $privateChannelList-channelSelected: '.selected-1HYmZZ';
    $privateChannelList-channelStatus: '.status-1ibiUI';
    $privateChannelList-linkButtonIcon: '.linkButtonIcon-Mlm5d6';
    $privateChannelList-searchBar: '.searchBarComponent-32dTOx';
    $privateChannelList-searchBar: 'searchBarComponent-32dTOx';
    $privateChannelList-searchBarWrapper: '.searchBar-6Kv8R2';
    $privateChannelList: '.privateChannels-1nO12o';
// Profile
    $profile-discriminator: '.discriminator-xUhQkU';
    $profile-note: '.note-3kmerW';
    $profile-userInfoSectionHeader: '.userInfoSectionHeader-CBvMDh';
    $profile-username: '.username-3gJmXY';
// Property
    $property-flexLayout: '.flex-1O1GKY';
// Search
    $search-barInner: '.inner-3ErfOT';
// Search Popout
    $searchPopout-answer: '.answer-1n6g43';
    $searchPopout-calenderPicker: '.calendarPicker-2yf6Ci';
    $searchPopout-clearHistory: '.searchClearHistory0-2cSSMO';
    $searchPopout-container: '.container-3ayLPN';
    $searchPopout-displayNick: '.displayedNick-3xxvzU';
    $searchPopout-displayUsername: '.displayUsername-Qekxml';
    $searchPopout-filter: '.filter-3Y_im-';
    $searchPopout-header: '.header-2N-gMV';
    $searchPopout-learnMore: '.searchLearnMore-3SQUAj';
    $searchPopout-option: '.option-96V44q';
    $searchPopout-optionSelected: '.selected-rZcOL-';
    $searchPopout-plusIcon: '.plusIcon-v0BTrL';
    $searchPopout-resultsGroup: '.resultsGroup-r_nuzN';
    $searchPopout-user: '.user-O3Czj0';
// Settings
    $settings-contentRegion: '.contentRegion-3nDuYy';
    $settings-contentRegionScroller: '.contentRegionScroller-26nc1e';
    $settings-closeButton: '.closeButton-1tv5uR';
    $settings-header: '.header-2RyJ0Y';
    $settings-item: '.item-PXvHYJ';
    $settings-itemSelected: '.selected-3s45Ha';
    $settings-itemThemed: '.themed-OHr7kt';
    $settings-closeKeybind: '.keybind-KpFkfr';
    $settings-separator: '.separator-gCa7yv';
    $settings-side: '.side-8zPYf6';
    $settings-sidebar: '.sidebar-CFHs9e';
    $settings-sidebarRegion: '.sidebarRegion-VFTUkN';
    $settings-sidebarRegionScroller: '.sidebarRegionScroller-3MXcoP';
    $settings-standardSidebarView: '.standardSidebarView-3F1I7i';
    $settings-tools: '.tools-3-3s-N';
    $settings-toolsContainer: '.toolsContainer-1edPuj';
    $settings-topPill: '.topPill-30KHOu';
// Suspicious Verification
    $suspiciousVerification-body: '.body-3ROqbj';
    $suspiciousVerification-container: '.container-1kp68M';
    $suspiciousVerification-email: '.email-1MPDs-';
    $suspiciousVerification-footer: '.footer-1eZumv';
    $suspiciousVerification-footerAction: 'footerAction-2ATxbG';
    $suspiciousVerification-footerBullet: 'footerBullet-1m59pn';
    $suspiciousVerification-image: 'image-2LVZ_j';
    $suspiciousVerification-logoutButton: '.logoutButton-1WaAEE';
    $suspiciousVerification-phone: '.phone-27MBJz';
    $suspiciousVerification-title: '.title-wZCcDo';
    $suspiciousVerification-screen: '.verification-3RfWYC';
    $suspiciousVerification-screenBlock: '.verificationBlock-1Chfpc';
// Store/Nitro Tab
    $store-browseSearch: '.browseSearch-e9jF-f';
// Tooltip
    $tooltip-pointer: '.tooltipPointer-3ZfirK';
    $tooltip: '.tooltip-2QfLtc';
    $tooltipDefault: '.tooltipBlack-PPG47z';
    $tooltipAlert: '.tooltipRed-8-9NeP';
    $tooltipRight: '.tooltipRight-2JM5PQ';
    $tooltips-container: '.layerContainer-yqaFcK';
    $tooltips-layer: '.layer-v9HyYc';
// Unread
    $unread-bar: '.unread-1s3J68';
    $unread-barWrapper: '.bar-30k2ka';
    $unread-mentionsBarBottom: '.unreadMentionsIndicatorBottom-BXS58x';
    $unread-mentionsBarTop: '.unreadMentionsIndicatorTop-gA6RCh';