$appMount: '.appMount-3lHmkl';
$client-app: '.app-19_DXt';
$client-colorBlindMode: '.colorblind-mode';
$client-win: '.platform-win';
$client-macOs: '.platform-osx';
$client-linux: '.platform-linux';
$client-web: '.platform-web';
$client-titleBar: '.titleBar-AC4pGV';
$client-winTitleBar: '.typeWindows-1za-n7';
$client-macOSTitleBar: '.typeMacOS-3EmCyP';
$client-winButton: '.winButton-iRh8-Z';
$client-winButtonClose: '.winButtonClose-1HsbF-';
$client-winButtonMinMax: '.winButtonMinMax-PBQ2gm';
$client-macButtonClose: '.macButtonClose-MwZ2nf';
$client-macButtonMaximize: '.macButtonMaximize-2FMHAO';
$client-macButtonMinimize: '.macButtonMinimize-3EJ6wo';
$client-wordmark: '.wordmark-2iDDfm';
$client-macOSTitleBarUnfocused: '.unfocused-1QsMU3';
$main-app: '.app-2rEoOp';
$main-themeLight: '.theme-light';
$main-themeDark: '.theme-dark';
$currentAccount-accountDetails: '.accountDetails-3k9g4n';
$currentAccount-avatar: '.avatar-3JE4B3';
$currentAccount-button: '.button-2b6hmh';
$currentAccount-buttonInner: '.buttonInner-LmnaN_';
$currentAccount-container: '.container-2Thooq';
$currentAccount-status: '.status-2kJpnA';
$currentAccount-username: '.username';
$currentAccount-discriminator: '.discriminator';
$mainNavList-wrapper: '.wrapper-1Rf91z';
$mainNavList-scroller: '.scroller-2TZvBN';
// $home: '.container-1ETFDs';
$mainNavList-homeButton: '.button-OhfaWu';
$mainNavList-itemInner: '.wrapper-25eVIn';
$mainNavList-itemButton: '.wrapper-1BJsBx';
$mainNavList-separater: '.guildSeparator-3s64Iy';
$mainNavList-item: '.listItem-2P_4kh';
$mainNavList-indicatorWrapper: '.pill-31IEus';
$mainNavList-indicator: '.item-2hkk8m';
// $guild-unread: '.unread-2OHH1w';
$mainNavList-itemIcon: '.icon-27yU2q';
$mainNavList-itemSvg: '.svg-1X37T1';
$mainNavList-homeSelected: '.selected-wSa2KV';
$mainNavList-actionSelected: '.selected-ugP_am';
$mainNavList-guildNoIconSelected: '.selected-bZ3Lue';
$mainNavList-actionButton: '.circleIconButton-jET_ig';
// $guild-circleButtonSelected: '.circleButtonSelected-34rLFW';
$mainNavList-actionButtonInner: '.circleIcon-LvPL6c';
// $guild-discover: '.container-11WMXy';
// $guild-audio: '.audio-2KA0-x';
// $guild-video: '.video-2jNDI4';
$mainNavList-badgeWrapper: '.badgeWrapper-3e8pMZ';
$mainNavList-upperBadge: '.upperBadge-2XnnGB';
$mainNavList-lowerBadge: '.lowerBadge-29hYVK';
// $guild-noIcon: '.noIcon-1a_FrS';
$mainNavList-itemAcronym: '.acronym-2mOFsV';
$mainNavList-homeLink: '.button-OhfaWu';
$mainNavList-homeIcon: '.homeIcon-tEMBK1';
// $friends-online: '.friendsOnline-2JkivW';
// $dm-inner: '.inner-1x-wIi';
// $dm-badge: '.badge-2_fwUZ';
// $dm-audio: '.audio-3sNR7M';
// $dm-video: '.video-3I9W8t';
// $downloadApp-button: '.downloadAppButton-3FZHkU';
// $badge-wrapper: '.wrapper-232cHJ'; // /!\ Manual updating required
$badge-wrapper: '.mentionsBadge-7f5lud';
$badge: '.numberBadge-2s8kKX';
$chat-base: '.base-3dtUhz';
$channelList: '.channels-Ie2l6A';
$channelList-scroller: '.scroller-2wx7Hm';
$channelList-container: '.container-PNkimc';
$channelList-headerContainer: '.container-2Rl01u';
$channelList-banner: '.banner-1TiK82';
$channelList-bannerImage: '.bannerImage-1jOskm';
$channelList-header: '.header-2o-2hj';
$channelList-headerName: '.name-3YKhmS';
$channelList-headerButton: '.button-1w5pas';
// $channelList-itemWrapperSelectedText: '.wrapperSelectedText-3dSUjC';
// $channelList-itemWrapperHoveredText: '.wrapperHoveredText-2geN_M';
$channelList-item: '.containerDefault-1ZnADq';
$channelList-itemIcon: '.icon-1_QxNX';
$channelList-itemUnread: '.unread-3zKkbm';
$channelList-itemName: '.name-3_Dsmg';
$channelList-itemContentWrapper: '.wrapper-1ucjTd';
$channelList-itemContent: '.content-3at_AU';
$channelList-itemSelected: '.selected-37j_iU';
$channelList-itemSelectedInner: '.modeSelected-1zApJ_';
$channelList-itemConnectedInner: '.modeConnected-2IEL4z';
$channelList-itemMutedInner: '.modeMuted-3osy7j';
$channelList-itemUnreadInner: '.modeUnread-1zpFdA';
// $channelList-itemNameConnectedVoice: '.nameConnectedVoice-MHUX5F';
// $channelList-itemNameDefaultText: '.nameDefaultText-24KCy5';
// $channelList-itemNameDefaultVoice: '.nameDefaultVoice-3WUH7s';
// $channelList-itemNameHoveredText: '.nameHoveredText-1uO31y';
// $channelList-itemNameHoveredVoice: '.nameHoveredVoice-YJ1Vfd';
// $channelList-itemNameLockedVoice: '.nameLockedVoice-26MhB1';
// $channelList-itemNameSelectedText: '.nameSelectedText-sp_EUw';
// $channelList-itemNameSelectedVoice: '.nameSelectedVoice-1qSph5';
// $channelList-itemNameUnreadText: '.nameUnreadText-DfkrI4';
// $channelList-itemContentSelectedText: '.contentSelectedText-3wUhMi';
// $channelList-itemContentHoveredText: '.contentHoveredText-2D9B-x';
// $channelList-itemConnectedVoiceIcon: '.colorConnectedVoice-3kyvUN';
// $channelList-itemDefaultTextIcon: '.colorDefaultText-oas-QM';
// $channelList-itemDefaultVoiceIcon: '.colorDefaultVoice-3wYlhb';
// $channelList-itemHoveredTextIcon: '.colorHoveredText-OZnAgu';
// $channelList-itemHoveredVoiceIcon: '.colorHoveredVoice-1kucsK';
// $channelList-itemLockedVoiceIcon: '.colorLockedVoice-2UlBjl';
// $channelList-itemSelectedTextIcon: '.colorSelectedText-1y4Wvs';
// $channelList-itemSelectedVoiceIcon: '.colorSelectedVoice-Xcb_9R';
// $channelList-itemUnreadTextIcon: '.colorUnreadText-2t7XRb';
$channelList-actionIcon: '.actionIcon-2Hi9ZG';
// $channelList-categoryNameCollapsed: '.nameCollapsed-34uFWo';
// $channelList-categoryNameDefault: '.nameDefault-2DI02H';
// $channelList-categoryNameMuted: '.nameMuted-1MCOt4';
// $channelList-voiceWrapper: '.wrapper-2NJDcI';
$channelList-categoryName: '.name-IbjUBS';
$channelList-categoryIcon: '.icon-WnO6o2';
$message: '.message-1PNnaP';
$message-container: '.container-206Blv';
$message-containerCozy: '.containerCozy-336-Cz';
$message-containerCompact: '.containerCompact-3pGPJs';
$message-isMentioned: '.isMentioned-N-h9aa';
$message-isMentionedCozy: '.isMentionedCozy-3isp7y';
$message-isMentionedCompact: '.isMentionedCompact-3rpPdN';
$message-markup: '.markup-2BOw-j';
$message-buttonContainerWrapper: '.buttonContainer-KtQ8wc';
$message-buttonContainer: 'buttonContainer-37UsAw';
$message-button: '.button-3Jq0g9';
$message-embed: '.embed-IeVjo6';
$message-embedContentInner: '.embedContentInner-FBnk7v';
$message-divider: '.divider-3gKybi';
$message-dividerRed: '.dividerRed-MKoLlr';
$message-dividerContent: '.dividerContent-2L12VI';
$message-dividerEnabled: '.dividerEnabled-2TTlcf';
$channelTextArea-inner: '.inner-zqa7da';
$channelTextArea-text: '.textArea-2Spzkt';
$channelTextArea-attachPopout: '.attachPopout-1n-ZKM';
$membersList: ".members-1998pB";
$membersList-memberGroupsPlaceholder: ".memberGroupsPlaceholder-3mwPub";
$membersList-membersGroup: ".membersGroup-v9BXpm";
$membersList-membersWrap: ".membersWrap-2h-GB4";
$membersList-placeholderPulse: ".placeholderPulse-2rZrru";
$membersList-scrollerWrap: ".scrollerWrap-otKoZo";
$membersList-activity: ".activity-1IYsbk";
$membersList-activityIcon: ".activityIcon-S3CciC";
$membersList-activityIconForeground: ".activityIconForeground-qYIPPg";
$membersList-activityText: ".activityText-sLG0UL";
$membersList-avatarOffline: ".avatarOffline-3GF27z";
$membersList-avatarWrapper: ".avatarWrapper-3B0ndJ";
$membersList-content: ".content-OzHfo4";
$membersList-darken: ".darken-1wMGLZ";
$membersList-member: ".member-3W1lQa";
$membersList-memberInner: ".memberInner-2CPc3V";
$membersList-memberOffline: ".memberOffline-2lN7gt";
$membersList-memberOnline: ".memberOnline-1CIh-0";
$membersList-mobileIndicator: ".mobileIndicator-329Gd6";
$membersList-nameTag: ".nameTag-3p0yK-";
$membersList-ownerIcon: ".ownerIcon-uZ6mE7";
$membersList-placeholder: ".placeholder-oNR4zO";
$membersList-status: ".status-2s6iDp";
$membersList-statusAnimated: ".statusAnimated-1SvwJ-";
$membersList-statusStatic: ".statusStatic-3QpK4G";
$membersList-username: ".username-1cB_5E";
$membersList-usernameOffline: ".usernameOffline-3VSVLk";
$membersList-usernameOnline: ".usernameOnline-3jr_0Y";
// $search-bar: ".searchBar-3dMhjb";
// $search-barInner: '.searchBarInner-1_Tg2R';
$emojiPicker-searchBar: '.searchBar-2pWH0_';
$privateChannelList-searchBar: 'searchBarComponent-32dTOx';
$search-barInner: '.inner-3ErfOT';
$privateChannelList: '.privateChannels-1nO12o';
$privateChannelList-searchBarWrapper: '.searchBar-6Kv8R2';
$privateChannelList-searchBar: '.searchBarComponent-32dTOx';
$privateChannelList-linkButtonIcon: '.linkButtonIcon-Mlm5d6';
$privateChannelList-channel: '.channel-2QD9_O';
$privateChannelList-channelClose: '.close-3hZ5Ni';
$privateChannelList-channelSelected: '.selected-1HYmZZ';
$privateChannelList-channelName: '.name-2WpE7M';
$privateChannelList-channelStatus: '.status-1ibiUI';
$privateChannelList-channelActivity: '.activity-525YDR';
$privateChannelList-channelActivityIcon: '.activityIcon-1mtTk4';
$privateChannelList-channelActivityIconForeground: '.activityIconForeground-3VIgI8';
$privateChannelList-channelActivityText: 'activityText-OW8WYb';
$client-headerBar: '.container-1r6BKw';
$client-headerTitle: '.title-29uC1r';
$client-headerIcon: '.icon-22AiRD';
$client-headerContent: '.children-19S4PO';
$client-headerContentDivider: '.divider-3FBTu8';
$client-topic: '.topic-TCb_qw';
$client-scroller: '.scroller-2FKFPG';
$client-scrollerWrap: '.scrollerWrap-2lJEkd';
$client-contextMenu: '.contextMenu-HLZMGh';
$client-contextMenuItem: '.item-1Yvehc';
$client-toolbar: '.toolbar-1t6TWx';
$library-filter: '.libraryFilter-31ZUa2';
$page-filterInputWrapper: '.inner-2P4tQO';
$page-filterInput: '.input-3Xdcic';
// $library-filterMiniInput: '.inputMini-2xQV9P';
$page-filterIcon: '.icon-1S6UIr';
$page-iconContainer: '.iconLayout-3OgqU3';
$page-searchBar: '.container-cMG81i';
$library-downloadProgressCircleWrapper: '.downloadProgressCircle-3_wgim';
$library-downloadIcon: '.downloadIcon-3TWA3B';
$store-browseSearch: '.browseSearch-e9jF-f';
// $store-browseSearchInput: '.browseSearchInput-Jt8kg0';
// $store-browseSearchIcon: '.icon-1iRNyO';
$chat-channelTextArea: '.channelTextArea-1LDbYG';
$chat-channelTextAreaInner: '.inner-zqa7da';
$chat-channelTextAreaButtons: '.buttons-205you';
$chat-titleText: '.titleText-3X-zRE';
$chat-titleInput: '.input-2A_zIr';
$chat-searchBarWrapper: '.search-l1Wz-Q';
// $chat-searchBarIcon: '.searchBarIcon-1J6sKG';
$chat-searchBarIconWrapper: '.iconContainer-O4O2CN';
$chat-searchBarWrapper: '.search-36MZv-';
$chat-searchBar: '.search-2oPWTC';
$chat-searchBarInner: '.searchBar-3dMhjb';
$chat-searchBarIcon: '.icon-38sknP';
// $chat-channelIcon: '.channelIcon-MsmKOO';
// $chat-channelName: '.channelName-3stJzi';
// $chat-headerButtonDivider: '.divider-2PMBlV';
$chat-headerButtonIconWrapper: '.iconWrapper-2OrFZ1';
$chat-newMessagesBar: '.newMessagesBar-mujexs';
$chat-jumpToPresentBar: '.jumpToPresentBar-9P20AM';
$chat-inviteWrapper: '.wrapper-35wsBm';
$chat-searchBarInput: '.input-1Rv96N';
$property-flexLayout: '.flex-1O1GKY';
$unread-barWrapper: '.bar-30k2ka';
// $unread-mentionsBarTop: '.unreadMentionsIndicatorTop-gA6RCh';
// $unread-mentionsBarBottom: '.unreadMentionsIndicatorBottom-BXS58x';
$unread-bar: '.unread-1s3J68';
$modal-root: '.root-SR8cQa';
$modal-body: '.body-3ND3kc';
$modal-header: '.header-QKLPzZ';
$modal-inner: '.inner-1JeGVc';
$modal-top: '.top-28JiJ-';
$modal-topSectionNormal: '.topSectionNormal-2-vo2m';
$modal-topSectionSpotify: '.topSectionSpotify-1lI0-P';
$modal-topSectionPlaying: '.topSectionPlaying-1J5E4n';
$modal-topSectionStreaming: '.topSectionStreaming-1Tpf5X';
$modal-tabBarItem: '.tabBarItem-1b8RUP';
$modal-itemSelected: '.itemSelected-1qLhcL';
$modal-additionalActionsIcon: '.additionalActionsIcon-1FoUlE';
$profile-username: '.username-3gJmXY';
$profile-discriminator: '.discriminator-xUhQkU';
$profile-userInfoSectionHeader: '.userInfoSectionHeader-CBvMDh';
$profile-note: '.note-3kmerW';
$tooltips-container: '.layerContainer-yqaFcK';
$tooltips-layer: '.layer-v9HyYc';
$tooltip: '.tooltip-2QfLtc';
$tooltip-pointer: '.tooltipPointer-3ZfirK';
$chat-guildMenu: '.menu-Sp6bN1';
$chat-guildMenuItem: '.item-1GzJrl';
$chat-guildMenuInviteItem: '.invite-271nFU';
$chat-guildMenuLeaveItem: '.leave-1DRJfn';
$searchPopout-container: '.container-3ayLPN';
$searchPopout-resultsGroup: '.resultsGroup-r_nuzN';
$searchPopout-option: '.option-96V44q';
$searchPopout-optionSelected: '.selected-rZcOL-';
$searchPopout-user: '.user-O3Czj0';
$searchPopout-displayUsername: '.displayUsername-Qekxml';
$searchPopout-displayNick: '.displayedNick-3xxvzU';
$searchPopout-filter: '.filter-3Y_im-';
$searchPopout-answer: '.answer-1n6g43';
$searchPopout-header: '.header-2N-gMV';
$searchPopout-learnMore: '.searchLearnMore-3SQUAj';
$searchPopout-clearHistory: '.searchClearHistory0-2cSSMO';
$searchPopout-plusIcon: '.plusIcon-v0BTrL';
$searchPopout-calenderPicker: '.calendarPicker-2yf6Ci';
$client-popout: '.popout-3sVMXz';
$client-popoutBottom: '.popoutBottom-1YbShG';
$client-popoutBottomLeft: '.popoutBottomLeft-JehOp2';
$client-popoutNoArrow: '.popoutBottomRight-2JrySt';
$client-popoutTopLeft: '.popoutTopLeft-b5Eb3O';
$client-popoutTopRight: '.popoutTopRight-3BzFIE';
$client-themedPopout: '.themedPopout-25DgLi';
$messagesPopout-wrap: '.messagesPopoutWrap-1MQ1bW'