$appMount: '.appMount-3lHmkl';
$client-app: '.app-19_DXt';
$client-colorBlindMode: '.color-blind-mode';
$client-win: '.platform-win';
$client-macOs: '.platform-osx';
$client-linux: '.platform-linux';
$client-web: '.platform-web';
$main-app: '.app-2rEoOp';
$main-themeLight: '.theme-light';
$main-themeDark: '.theme-dark';
$currentAccount-accountDetails: '.accountDetails-3k9g4n';
$currentAccount-avatar: '.avatar-3JE4B3';
$currentAccount-button: '.button-2b6hmh';
$currentAccount-buttonInner: '.buttonInner-LmnaN_';
$currentAccount-container: '.container-2Thooq';
$currentAccount-status: '.status-2kJpnA';
$currentAccount-username: '.user';
$currentAccount-discriminator: '.discriminator';
$guild-wrapper: '.wrapper-1Rf91z';
$guild-scroller: '.scroller-2TZvBN';
$home: '.container-1ETFDs';
$home-button: '.homeButton-2Cw51C';
$guild-inner: '.wrapper-2lTRaf';
$guild-separater: '.guildSeparator-3s64Iy';
$guild: '.container-2td-dC';
$guild-unread: '.unread-2OHH1w';
$guild-icon: '.guildIcon-VlWW86';
$guild-selected: '.selected-nT-gM3';
$guild-circleButton: '.circleIconButton-jET_ig';
$guild-circleButtonSelected: '.circleButtonSelected-34rLFW';
$guild-addInner: '.plus-3UqSQu';
$guild-discover: '.container-11WMXy';
$guild-scroller: '.scroller-2TZvBN';
$guild-audio: '.audio-2KA0-x';
$guild-video: '.video-2jNDI4';
$guild-noIcon: '.noIcon-1a_FrS';
$home-link: '.homeLink-2NBBKi';
$home-icon: '.homeIcon-tEMBK1';
$friends-online: '.friendsOnline-2JkivW';
$dm-inner: '.inner-1x-wIi';
$dm-badge: '.badge-2_fwUZ';
$dm-audio: '.audio-3sNR7M';
$dm-video: '.video-3I9W8t';
$downloadApp-button: '.downloadAppButton-3FZHkU';
$channelList: '.channels-Ie2l6A';
$channelList-scroller: '.scroller-2wx7Hm';
$channelList-base: '.base-3dtUhz';
$channelList-container: '.container-PNkimc';
$channelList-banner: '.banner-1TiK82';
$channelList-bannerImage: '.bannerImage-1jOskm';
$channelList-header: '.header-2o-2hj';
$channelList-headerName: '.name-3YKhmS';
$channelList-headerButton: '.button-1w5pas';
$channelList-itemWrapperSelectedText: '.wrapperSelectedText-3dSUjC';
$channelList-itemWrapperHoveredText: '.wrapperHoveredText-2geN_M';
$channelList-itemUnread: '.unread-1Dp-OI';
$channelList-itemName: '.name-3M0b8v';
$channelList-itemNameConnectedVoice: '.nameConnectedVoice-MHUX5F';
$channelList-itemNameDefaultText: '.nameDefaultText-24KCy5';
$channelList-itemNameDefaultVoice: '.nameDefaultVoice-3WUH7s';
$channelList-itemNameHoveredText: '.nameHoveredText-1uO31y';
$channelList-itemNameHoveredVoice: '.nameHoveredVoice-YJ1Vfd';
$channelList-itemNameLockedVoice: '.nameLockedVoice-26MhB1';
$channelList-itemNameSelectedText: '.nameSelectedText-sp_EUw';
$channelList-itemNameSelectedVoice: '.nameSelectedVoice-1qSph5';
$channelList-itemNameUnreadText: '.nameUnreadText-DfkrI4';
$channelList-itemContentSelectedText: '.contentSelectedText-3wUhMi';
$channelList-itemContentHoveredText: '.contentHoveredText-2D9B-x';
$channelList-itemConnectedVoiceIcon: '.colorConnectedVoice-3kyvUN';
$channelList-itemDefaultTextIcon: '.colorDefaultText-oas-QM';
$channelList-itemDefaultVoiceIcon: '.colorDefaultVoice-3wYlhb';
$channelList-itemHoveredTextIcon: '.colorHoveredText-OZnAgu';
$channelList-itemHoveredVoiceIcon: '.colorHoveredVoice-1kucsK';
$channelList-itemLockedVoiceIcon: '.colorLockedVoice-2UlBjl';
$channelList-itemSelectedTextIcon: '.colorSelectedText-1y4Wvs';
$channelList-itemSelectedVoiceIcon: '.colorSelectedVoice-Xcb_9R';
$channelList-itemUnreadTextIcon: '.colorUnreadText-2t7XRb';
$channelList-actionIcon: '.actionIcon-2Hi9ZG';
$channelList-categoryNameCollapsed: '.nameCollapsed-34uFWo';
$channelList-categoryNameDefault: '.nameDefault-2DI02H';
$channelList-categoryNameMuted: '.nameMuted-1MCOt4';
$channelList-voiceWrapper: '.wrapper-2NJDcI';
$message: '.message-1PNnaP';
$message-container: '.container-206Blv';
$message-containerCozy: '.containerCozy-336-Cz';
$message-containerCompact: '.containerCompact-3pGPJs';
$message-isMentioned: '.isMentioned-N-h9aa';
$message-isMentionedCozy: '.isMentionedCozy-3isp7y';
$message-isMentionedCompact: '.isMentionedCompact-3rpPdN';
$message-markup: '.markup-2BOw-j';
$message-buttonContainer: '.buttonContainer-KtQ8wc';
$channelTextArea-inner: '.inner-zqa7da';
$channelTextArea-text: '.textArea-2Spzkt';
$channelTextArea-attachPopout: '.attachPopout-1n-ZKM';
$popouts-popoutTopLeft: '.popoutTopLeft-b5Eb3O';
$popouts-popoutTopRight: '.popoutTopRight-3BzFIE';
$membersList: ".members-1998pB";
$membersList-memberGroupsPlaceholder: ".memberGroupsPlaceholder-3mwPub";
$membersList-membersGroup: ".membersGroup-v9BXpm";
$membersList-membersWrap: ".membersWrap-2h-GB4";
$membersList-placeholderPulse: ".placeholderPulse-2rZrru";
$membersList-scrollerWrap: ".scrollerWrap-otKoZo";
$membersList-activity: ".activity-1IYsbk";
$membersList-activityIcon: ".activityIcon-S3CciC";
$membersList-activityIconForeground: ".activityIconForeground-qYIPPg";
$membersList-activityText: ".activityText-sLG0UL";
$membersList-avatarOffline: ".avatarOffline-3GF27z";
$membersList-avatarWrapper: ".avatarWrapper-3B0ndJ";
$membersList-content: ".content-OzHfo4";
$membersList-darken: ".darken-1wMGLZ";
$membersList-member: ".member-3W1lQa";
$membersList-memberInner: ".memberInner-2CPc3V";
$membersList-memberOffline: ".memberOffline-2lN7gt";
$membersList-memberOnline: ".memberOnline-1CIh-0";
$membersList-mobileIndicator: ".mobileIndicator-329Gd6";
$membersList-nameTag: ".nameTag-3p0yK-";
$membersList-ownerIcon: ".ownerIcon-uZ6mE7";
$membersList-placeholder: ".placeholder-oNR4zO";
$membersList-status: ".status-2s6iDp";
$membersList-statusAnimated: ".statusAnimated-1SvwJ-";
$membersList-statusStatic: ".statusStatic-3QpK4G";
$membersList-username: ".username-1cB_5E";
$membersList-usernameOffline: ".usernameOffline-3VSVLk";
$membersList-usernameOnline: ".usernameOnline-3jr_0Y";
$search-bar: ".searchBar-2_Yu-C";
$search-barInner: '.searchBarInner-1_Tg2R';
$privateSearchBar-wrapper: '.searchBar-6Kv8R2';
$client-headerBar: '.headerBar-UHpsPw';
$client-headerTitle: '.title-CZQTru';
$client-topic: '.topic-2QX7LI';
$library-filter: '.libraryFilter-31ZUa2';
$library-filterInput: '.libraryFilterInput-3JzqZD';
$library-filterIcon: '.icon-2oIyBi';
$store-browseSearch: '.browseSearch-e9jF-f';
$store-browseSearchInput: '.browseSearchInput-Jt8kg0';
$store-browseSearchIcon: '.icon-1iRNyO';
$chat-channelTextArea: '.channelTextArea-1LDbYG';
$chat-titleText: '.titleText-3X-zRE';
$chat-searchBarWrapper: '.search-l1Wz-Q';
$chat-searchBarIcon: '.searchBarIcon-1J6sKG';
$chat-channelIcon: '.channelIcon-MsmKOO';
$chat-channelName: '.channelName-3stJzi';
$chat-headerButtonDivider: '.divider-2PMBlV';
$property-flexLayout: '.flex-1O1GKY';