#{$main-themeLight},
#{$main-themeDark} {
    #{$currentAccount-container} {
        background-color: var(--skypecord-sidebar-bg);
    }
    #{$currentAccount-username} {
        color: var(--skypecord-main-fg);
    }
    #{$currentAccount-button}:hover {
        background-color: transparent;
    }
}

#{$main-themeLight} {
    #{$currentAccount-button} {
        opacity: 1;
    }
    #{$currentAccount-button}:hover {
        opacity: .6;
    }
}
#{$main-themeDark} {
    #{$currentAccount-button} {
        opacity: .6;
    }
    #{$currentAccount-button}:hover {
        opacity: 1;
    }
}

#{$currentAccount-container} {
    margin-bottom: 0;
    padding-bottom: 1px; // Balance out margin removal
}

#{$currentAccount-usernameContainer} {
    font-size: 12px;
}

#{$currentAccount-discriminator} {
    display: none;
}