#{$main-app} {
    #{$currentAccount-container} {
        background-color: var(--skypecord-sidebar-bg);
        color: var(--skypecord-main-fg);
    }
}

// #{$main-themeLight} [aria-label='Mute'] {
//     background-image: $skypecord-mic-icon-light !important; /* !important to override inline style */
// }

#{$currentAccount-container} {
    margin-bottom: 0;
    padding-bottom: 1px; // Balance out margin removal
    order: -1; // Force it to the top
}

#{$currentAccount-accountDetails} #{$currentAccount-discriminator} {
    display: none;
}