#{$main-app} {
    #{$currentAccount-container} {
        background-color: var(--skypecord-sidebar-bg);
    }
    #{$currentAccount-username} {
        color: var(--skypecord-main-fg);
    }
    #{$currentAccount-status} {
        border-color: var(--skypecord-status-border);
    }
    #{$currentAccount-button}:hover {
        background-color: transparent;
    }
    /* Mute */
    [name='Nova_MicrophoneMute'] {
        background-image: var(--skypecord-mic-icon)!important;
    }
    /* Unmute */
    [name='Nova_Microphone'] {
        background-image: var(--skypecord-muted-mic-icon)!important;
    }
    /* Deafen */
    [name='Nova_HeadsetDeafen'] {
        background-image: var(--skypecord-headphone-icon)!important;
    }
    /* Undeafen */
    [name='Nova_Headset'] {
        background-image: var(--skypecord-muted-headphone-icon)!important;
    }
    /* Settings */
    [name='Gear'] {
        background-image: var(--skypecord-ellipsis-icon);
    }
}

#{$main-themeLight} {
    #{$currentAccount-button} {
        opacity: 1;
    }
    #{$currentAccount-button}:hover {
        opacity: .6;
    }
}
#{$main-themeDark} {
    #{$currentAccount-button} {
        opacity: .6;
    }
    #{$currentAccount-button}:hover {
        opacity: 1;
    }
}

#{$client-buttonIcon} {
    background-size: 100%;
    path {
        fill: none;
    }
}

#{$currentAccount-container} {
    margin-bottom: 0;
    padding-bottom: 1px; // Balance out margin removal
}

#{$currentAccount-usernameContainer} {
    font-size: 12px;
}

#{$currentAccount-discriminator} {
    display: none;
}