&,
#{$client-win},
#{$client-macOs},
#{$client-linux},
#{$client-web} {
    #{$chat-base} {
        border-radius: 0;
    }
}

#{$channelList-header} {
    height: 88px;
}

#{$channelList-headerContainer} {
    box-shadow: 0 1px 0 var(--skypecord-border-fg);
}

#{$channelList} {
    border-right: 1px solid;
}

#{$main-app} {
    #{$channelList-container} {
        background-color: var(--skypecord-sidebar-bg);
    }
    #{$channelList-header} {
        color: var(--skypecord-main-fg);
        border-color: var(--skypecord-border-fg);
        box-shadow: none;
    }
    #{$channelList} {
        border-color: var(--skypecord-border-fg);
        #{$badge} {
            background-color: $accent!important;
        }
    }
    /* Drop Down Button */
    [d='M4.5 4.5l9 9'],
    [d='M13.5 4.5l-9 9'] {
        stroke: var(--skypecord-icon-fg);
    }
    #{$channelList-withBanner} {
        [d='M4.5 4.5l9 9'],
        [d='M13.5 4.5l-9 9'] {
            stroke: var(--skypecord-banner-icon-fg);
        }
    }
    #{$channelList-bannerImage} {
        background-color: var(--skypecord-banner-fallback-bg);
        -webkit-mask-image: linear-gradient(#000 0%, transparent 100%);
        mask-image: linear-gradient(#000 0%, transparent 100%);
    }
    #{$channelList-withBanner} {
        color: $banner-header-name-fg;
    }
    #{$channelList-actionIcon} {
        color: var(--skypecord-icon-fg)
    }
    #{$channelList-withBanner} #{$channelList-header} {
        color: $banner-header-name-fg;
    }
    // #{$channelList-itemWrapperSelectedText} {
    //     background-color: var(--skypecord-sidebar-item-sel-bg);
    // }
    // #{$channelList-itemWrapperHoveredText} {
    //     background-color: var(--skypecord-sidebar-item-hov-bg);
    // }
    #{$channelList-itemUnread} {
        background-color: var(--skypecord-unread-indicator-bg);
    }
    #{$channelList-actionIcon},
    #{$channelList-itemName} {
        color: var(--skypecord-main-fg);
    }
    #{$channelList-categoryName},
    #{$channelList-categoryIcon} {
        color: var(--skypecord-header-fg);
    }
    // #{$channelList-itemContentSelectedText},
    // #{$channelList-itemContentHoveredText} {
    //     background-color: transparent;
    // }

    // #{$channelList-voiceWrapper} {
    //     background-color: transparent;
    //     color: var(--skypecord-stat-fg);
    //     font-family: inherit;
    // }
    #{$channelList-itemContentWrapper} {
        &#{$channelList-itemSelectedInner}:hover,
        &#{$channelList-itemSelectedInner} {
            background-color: var(--skypecord-sidebar-item-sel-bg);
        }
        &:hover {
            background-color: var(--skypecord-sidebar-item-hov-bg);
        }
    }
    #{$channelList-itemContentWrapper} {
        &#{$channelList-itemSelectedInner},
        &#{$channelList-itemSelectedInner}:hover,
        &:hover {
            #{$channelList-itemContent} {
                background-color: transparent;
            }
        }
    }
    #{$channelList-itemContentWrapper} {
        &,
        &:hover {
            &,
            &#{$channelList-itemConnectedInner},
            &#{$channelList-itemSelectedInner},
            &#{$channelList-itemUnreadInner},
            &#{$channelList-itemMutedInner} {
                &,
                &:hover {
                    #{$channelList-itemName} {
                        color: var(--skypecord-main-fg);
                    }
                }
            }
            &#{$channelList-itemMutedInner} {
                &,
                &:hover {
                    #{$channelList-itemName} {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
    #{$channelList-itemIcon} {
        color: var(--skypecord-main-fg);
    }
    /* Add Button */
    [name='PlusAlt'] {
        opacity: 1;
        polygon {
            fill: var(--skypecord-header-fg);
        }
    }
}

#{$channelList-categoryName} {
    font-size: 12px;
    font-weight: 600;
}
