#{$client-win} {
    box-sizing: border-box;
    border: 1px solid $window-decoration-border;
    border-top: none;
}

#{$main-app} {
    #{$chat-content},
    #{$chat-noChannel},
    #{$chat-messagesWrapper},
    #{$chat},
    #{$chat} form {
        background-color: var(--skypecord-main-bg);
    }
    #{$message-divider}#{$message-dividerRed} #{$message-dividerContent} {
        color: $accent;
    }
    #{$message-divider} #{$message-dividerContent} {
        color: var(--skypecord-divider-fg);
    }
    #{$message-divider}#{$message-dividerRed} #{$message-dividerContent}::before,
    #{$message-divider}#{$message-dividerRed} #{$message-dividerContent}::after {
        opacity: 1;
    }
    #{$message-dividerEnabled} {
        border-bottom-color: transparent;
    }
    #{$message-markup} {
        background-color: var(--skypecord-message-bg);
        color: var(--skypecord-main-fg);
        a {
            color: var(--skypecord-main-fg);
            text-decoration: underline;
        }
    }
    #{$message-isMentionedCozy} #{$message-markup}::after {
        border-color: $mentioned-bar-bg;
    }
    #{$message-isMentioned} {
        background-color: transparent;
    }
    #{$message-isMentioned} #{$message-markup} {
        background-color: $mentioned-bg;
    }
    #{$channelTextArea-inner} {
        background-color: var(--skypecord-textarea-bg);
    }

    #{$channelTextArea-text}::placeholder {
        color: var(--skypecord-placeholder-fg);
    }

    #{$chat-channelTextArea} {
        border-top-color: transparent;
    }
    #{$chat-newMessagesBar} {
        background-color: var(--skypecord-new-message-bar-bg);
    }
    #{$chat-jumpToPresentBar} {
        background-color: $jump-to-present-bar-bg;
        button {
            color: $jump-to-present-bar-fg;
        }
    }
    #{$unread-bar} {
        box-shadow: none;
    }
}

#{$chat-newMessagesBar},
#{$chat-jumpToPresentBar} {
    padding: 0 25px;
    min-height: 30px;
    min-width: fit-content;
    border-radius: 15px;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    button {
        padding: 0 5px;
        line-height: 12px;
        &:first-child,
        &:last-child {
            font-size: 12px;
        }
    }
}

#{$chat-newMessagesBar} {
    top: 7px;
}

#{$chat-jumpToPresentBar} {
    bottom: 7px;
}

#{$mainNavList-wrapper} #{$unread-barWrapper}[style$='translateY(-150%);'] {
    -webkit-app-region: drag;
    #{$main-app} & {
        box-shadow: none;
    }
}

#{$message-container} {
    display: inline-flex;
    flex-direction: row;
    max-width: 100%; /* Caps width to prevent it from flowing out, overflow didn't work there */
}

#{$message-buttonContainerWrapper} {
    float: none;
    align-self: flex-start;
}

#{$message-markup} {
    border-radius: 0 inRem(10px) inRem(10px) 0;
    padding: inRem(8px);
    order: -1;
    overflow: hidden; /* Prevents the markup from overflowing, and also allows the buttons to appear at all times. */
    font-size: inRem(14px);
    font-weight: 400;
}

#{$message-markup}:empty {
    display: none;
}

#{$message-markup} pre {
    max-width: fit-content;
}

#{$message}:last-of-type #{$message-markup} {
    border-radius: 0 inRem(10px) inRem(10px) inRem(10px);
}

#{$message-isMentionedCozy}::after {
    display: none;
}

#{$message-isMentionedCozy} #{$message-markup}::after {
    position: absolute;
    left: inRem(3px);
    top: inRem(2px);
    height: calc(100% - #{inRem(4px)});
    width: inRem(1px);
    border-left: inRem(4px) solid;
    border-radius: 0;
    content: '';
}


#{$message-isMentionedCozy} #{$message-markup},
#{$message}:last-of-type #{$message-isMentionedCozy} #{$message-markup} {
    border-radius: 0 inRem(10px) inRem(10px) 0;
}

#{$message}:last-of-type #{$message-isMentionedCozy} #{$message-markup}::after {
    border-radius: 0 0 0 inRem(10px);
}

#{$message-dividerContent}::before,
#{$message-dividerContent}::after {
    height: 2px;
}

#{$message-dividerContent}::before {
    margin-right: 15px;
}

#{$message-dividerContent}::after {
    margin-left: 15px;
}

#{$message-divider} {
    font-size: inRem(12px);
}

#{$message-divider}#{$message-dividerRed} #{$message-dividerContent} {
    text-transform: capitalize;
}

#{$chat-channelTextAreaInner} {
    min-height: inRem(60px);
    border-radius: inRem(10px);
    align-items: center;
    #{$chat-channelTextAreaButtons} {
        order: 1;
    }
    textarea {
        order: 2;
    }
    #{$property-flexLayout} {
        order: 3;
    }
}

/* Reposition attach popout to compensate for re-ordered message box */
#{$client-popoutTopLeft}[style$='transform: translateX(0%) translateY(-100%) translateZ(0px);'] {
    transform: translateX(calc(-100% + 43px)) translateY(-100%) translateZ(0px)!important;
    margin-right: -20px;
}

#{$client-popoutTopRight}[style$='translateX(-100%) translateY(-100%) translateZ(0px);'] {
    transform: translateX(-43px) translateY(-100%) translateZ(0px)!important;
}

#{$chat-channelTextArea} {
    padding-top: inRem(8px);
    margin-bottom: inRem(20px);
}