#{$channelList-base} {
    border-radius: 0;
}

#{$channelList-header} {
    box-shadow: none;
    border-bottom: 1px solid;
}

#{$channelList} {
    border-right: 1px solid;
}

#{$main-app} {
    #{$channelList-container} {
        background-color: var(--skypecord-sidebar-bg);
    }
    #{$channelList-header} {
        color: var(--skypecord-main-fg);
        border-color: var(--skypecord-border-fg);
    }
    #{$channelList} {
        border-color: var(--skypecord-border-fg);
    }
    /* Drop Down Button */
    [d='M4.5 4.5l9 9'],
    [d='M13.5 4.5l-9 9'] {
        stroke: var(--skypecord-icon-fg);
    }
    #{$channelList-banner} {
        [d='M4.5 4.5l9 9'],
        [d='M13.5 4.5l-9 9'] {
            stroke: var(--skypecord-banner-icon-fg);
        }
    }
    #{$channelList-bannerImage} {
        background-color: var(--skypecord-banner-fallback-bg);
        -webkit-mask-image: linear-gradient(#000 0%, transparent 100%);
        mask-image: linear-gradient(#000 0%, transparent 100%);
    }
    #{$channelList-banner} {
        color: $banner-header-name-fg;
        border-color: transparent;
    }
    #{$channelList-actionIcon} {
        color: var(--skypecord-icon-fg)
    }
    #{$channelList-banner} #{$channelList-header} {
        color: $banner-header-name-fg;
    }
    #{$channelList-itemWrapperSelectedText} {
        background-color: var(--skypecord-sidebar-item-sel-bg);
    }
    #{$channelList-itemWrapperHoveredText} {
        background-color: var(--skypecord-sidebar-item-hov-bg);
    }
    #{$channelList-itemUnread} {
        background-color: var(--skypecord-unread-indicator-bg);
    }
    #{$channelList-itemNameConnectedVoice},
    #{$channelList-itemNameDefaultText},
    #{$channelList-itemNameDefaultVoice},
    #{$channelList-itemNameHoveredText},
    #{$channelList-itemNameHoveredVoice},
    #{$channelList-itemNameLockedVoice},
    #{$channelList-itemNameSelectedText},
    #{$channelList-itemNameSelectedVoice},
    #{$channelList-itemNameUnreadText},
    #{$channelList-itemConnectedVoiceIcon},
    #{$channelList-itemDefaultTextIcon},
    #{$channelList-itemDefaultVoiceIcon},
    #{$channelList-itemHoveredTextIcon},
    #{$channelList-itemHoveredVoiceIcon},
    #{$channelList-itemLockedVoiceIcon},
    #{$channelList-itemSelectedTextIcon},
    #{$channelList-itemSelectedVoiceIcon},
    #{$channelList-itemUnreadTextIcon} {
        color: var(--skypecord-main-fg);
    }
    #{$channelList-categoryNameCollapsed},
    #{$channelList-categoryNameDefault},
    #{$channelList-categoryNameMuted} {
        color: var(--skypecord-header-fg);
    }
    #{$channelList-itemContentSelectedText},
    #{$channelList-itemContentHoveredText} {
        background-color: transparent;
    }

    #{$channelList-voiceWrapper} {
        background-color: transparent;
        color: var(--skypecord-stat-fg);
        font-family: inherit;
    }
    /* Add Button */
    [name='PlusAlt'] polygon {
        fill: var(--skypecord-icon-fg);
    }
}
