#{Main(app)} {
    #{MessageOuter(divider)}#{MessageOuter(dividerRed)} #{MessageOuter(dividerContent)} {
        color: $accent;
    }
    #{MessageOuter(divider)} #{MessageOuter(dividerContent)} {
        color: var(--skypecord-divider-fg);
    }
    #{MessageOuter(divider)}#{MessageOuter(dividerRed)} #{MessageOuter(dividerContent)}::before,
    #{MessageOuter(divider)}#{MessageOuter(dividerRed)} #{MessageOuter(dividerContent)}::after {
        opacity: 1;
    }
    #{Messages(dividerEnabled)} {
        border-bottom-color: transparent;
    }
    #{$message-markup} {
        background-color: var(--skypecord-message-bg);
    }
    #{$message-isMentioned} {
        background-color: transparent;
    }
    #{$message-isMentioned} #{$message-markup} {
        background-color: $mentioned-bg;
    }
    #{$channelTextArea-inner} {
        background-color: var(--skypecord-textarea-bg);
    }

    #{$channelTextArea-text}::placeholder {
        color: var(--skypecord-placeholder-fg);
    }

    #{$chat-channelTextArea} {
        border-top-color: transparent;
    }
    
}

#{$message-container} {
    display: inline-flex;
    flex-direction: row;
    max-width: 100%; /* Caps width to prevent it from flowing out, overflow didn't work there */
}

#{$message-buttonContainer} {
    float: none;
    align-self: flex-start;
}

#{$message-markup} {
    border-radius: 0 inRem(10px) inRem(10px) 0;
    padding: inRem(8px);
    order: -1;
    overflow: hidden; /* Prevents the markup from overflowing, and also allows the buttons to appear at all times. */
}

#{$message-markup}:empty {
    display: none;
}

#{$message-markup} pre {
    max-width: fit-content;
}

#{$message}:last-of-type #{$message-markup} {
    border-radius: 0 inRem(10px) inRem(10px) inRem(10px);
}

#{$message-isMentionedCozy}::after {
    display: none;
}

#{$message-isMentionedCozy} #{$message-markup}::after {
    position: absolute;
    left: inRem(3px);
    top: inRem(2px);
    bottom: inRem(4px);
    width: inRem(1px);
    border-left: inRem(4px) solid #f1b449;
    border-radius: 0 0 0 inRem(10px);
    content: '';
}

#{MessageOuter(dividerContent)}::before,
#{MessageOuter(dividerContent)}::after {
    height: inRem(2px);
}

#{MessageOuter(dividerContent)}::before {
    margin-right: inRem(15px);
}

#{MessageOuter(dividerContent)}::after {
    margin-left: inRem(15px);
}

#{MessageOuter(divider)} {
    font-size: inRem(12px);
}

#{MessageOuter(divider)}#{MessageOuter(dividerRed)} #{MessageOuter(dividerContent)} {
    text-transform: capitalize;
}

#{TextAreaContainer(inner)} {
    min-height: inRem(60px);
    border-radius: inRem(10px);
    align-items: center;
    #{TextAreaContainer(buttons)} {
        order: 1;
    }
    textarea {
        order: 2;
    }
    #{Property(flex)} {
        order: 3;
    }
}

/* Reposition attach popout to compensate for re-ordered message box */
#{$popouts-popoutTopLeft}[style$='transform: translateX(0%) translateY(-100%) translateZ(0px);'] {
    transform: translateX(calc(-100% + 43px)) translateY(-100%) translateZ(0px)!important;
    margin-right: -20px;
}

#{$popouts-popoutTopRight}[style$='translateX(-100%) translateY(-100%) translateZ(0px);'] {
    transform: translateX(-43px) translateY(-100%) translateZ(0px)!important;
}

#{$chat-channelTextArea} {
    padding-top: 8px;
    margin-bottom: 20px;
}