[style*='color: rgb(114, 137, 218);'] {
    color: $accent!important;
}

[style*='background-color: rgb(114, 137, 218);'] {
    background-color: $accent!important;
    color: $alt-fg!important;
}

[style*='border-color: rgb(114, 137, 218);'] {
    border-color: $accent!important;
}

a {
    color: $link-fg;
}

#{$main-themeLight},
#{$main-themeDark} {
    #{$client-layers},
    #{$client-layer} {
        background-color: var(--skypecord-layer-bg);
    }
    #{$client-buttonFilled}#{$client-buttonAccentFilled} {
        background-color: transparent;
        color: var(--skypecord-button-fg);
        border-color: var(--skypecord-button-border);
    }
    
    #{$client-buttonFilled}#{$client-primaryButton} {
        background-color: $accent;
        color: $alt-fg;
        &:hover {
            background-color: rgba($accent, .7);
        }
    }
    /* Mute */
    [name='Nova_MicrophoneMute'] {
        background-image: var(--skypecord-muted-mic-icon)!important;
    }
    /* Unmute */
    [name='Nova_Microphone'] {
        background-image: var(--skypecord-mic-icon)!important;
    }
    /* Deafen */
    [name='Nova_HeadsetDeafen'] {
        background-image: var(--skypecord-muted-headphone-icon)!important;
    }
    /* Undeafen */
    [name='Nova_Headset'] {
        background-image: var(--skypecord-headphone-icon)!important;
    }
    /* Settings */
    [name='Gear'] {
        background-image: var(--skypecord-ellipsis-icon);
    }
}

#{$client-buttonFilled}#{$client-buttonAccentFilled} {
    border: 1px solid;
}

[name='Nova_MicrophoneMute'],
[name='Nova_Microphone'],
[name='Nova_HeadsetDeafen'],
[name='Nova_Headset'],
[name='Gear'] {
    background-size: 100%;
    path {
        fill: none;
    }
}

#{$client-minButton} {
    height: auto;
    border-radius: 12px;
}

#{$client-smallButton} {
    height: 32px;
    border-radius: 16px;
}

#{$client-buttonNormal} {
    height: 32px;
    border-radius: 16px;
}

#{$client-mediumButton} {
    height: 38px;
    border-radius: 19px;
}

#{$client-largeButton} {
    height: 44px;
    border-radius: 22px;
}