.theme-light {
    &#{$client-contextMenu} {
        background-color: var(--skypecord-menu-bg);
    }
    #{$client-contextMenuItem} {
        color: var(--skypecord-main-fg);
        &:hover {
            background-color: var(--skypecord-menu-item-bg);
            color: var(--skypecord-main-fg);
        }
    }
}

#{$client-contextMenu},
#{$client-contextMenuItem} {
    border-radius: 0;
}

#{$client-contextMenu} {
    padding: 7px 0;
    max-height: calc(100vh - 155px);
    overflow: auto;
    &:empty {
        display: none;
    }
}

#{$client-contextMenuItem} {
    padding: 7px 12px;
    font-size: 14px;
    line-height: 17px;
}