#{$guild-wrapper} {
    border-radius: 0;
}

/* Hide public button that's out of place */
#bd-pub-li {
    display: none;
}

/* Display public button, if it appears in the server scroller */
.scroller-2TZvBN #bd-pub-li {
    display: block;
}

#{$main-app} {
    #{$guild-wrapper} {
        background-color: var(--skypecord-sidebar-bg);
    }
    #{$guild}#{$guild-unread},
    #{$guild}#{$guild-selected} {
        &::before {
            background-color: var(--skypecord-unread-indicator-bg);
        }
    }
    #{$friends-online} {
        color: var(--skypecord-main-fg);
    }
}