#{$guild-wrapper} {
    border-radius: 0;
    border-right: 1px solid;
}

/* Hide public button that's out of place */
#bd-pub-li {
    display: none;
}

/* Display public button or anything else that has the same id, if it appears in the server scroller */
#{$guild-scroller} #bd-pub-li {
    display: block;
}

#{$guild}:not(#bd-pub-li):not(.RANbutton-frame) #{$guild-inner},
#{$home} #{$guild-inner},
#{$dm-inner} {
    border-radius: 50%!important;
}

#{$guild-inner} {
    font-weight: 600;
}

#{$main-app} {
    #{$guild-wrapper} {
        background-color: var(--skypecord-sidebar-bg);
        border-color: var(--skypecord-border-fg);
    }
    #{$guild}#{$guild-unread},
    #{$guild}#{$guild-selected} {
        &::before {
            background-color: var(--skypecord-unread-indicator-bg);
        }
    }
    #{$friends-online} {
        color: var(--skypecord-main-fg);
    }
    #{$guild-inner} {
        background-color: var(--skypecord-avatar-bg)!important; /* Override inline style on guilds w/ no icon */
        a {
            color: $accent;
        }
    }
    #{$guild-circleButton},
    #{$guild-circleButton}:hover,
    #{$guild-circleButton}#{$guild-circleButtonSelected} {
        background-color: var(--skypecord-avatar-bg);
        color: $accent;
    }
    #{$guild-icon}:not(#{$guild-noIcon}) {
        background-color: $accent;
        color: $alt-fg;
    }
    #{$guild-noIcon},
    #{$home-icon} {
        color: $accent;
    }
}