#{$mainNavList-wrapper} {
    border-radius: 0;
    border-right: 1px solid;
    .platform-osx & {
        margin-top: 0;
    }
}

/* Hide public button that's out of place */
#bd-pub-li {
    display: none;
}

/* Display public button or anything else that has the same id, if it appears in the server scroller */
#{$mainNavList-scroller} #bd-pub-li {
    display: block;
}

#{$mainNavList-itemInner} {
    border-radius: 50%;
    foreignObject {
        mask: none;
    }
}

#{$mainNavList-itemSvg} {
    border-radius: 50%;
}

#{$mainNavList-itemInner} {
    font-weight: 600;
}

#{$main-app} {
    #{$mainNavList-wrapper} {
        background-color: var(--skypecord-sidebar-bg);
        border-color: var(--skypecord-border-fg);
    }
    #{$mainNavList-indicator} {
        background-color: var(--skypecord-unread-indicator-bg);
    }
    #{$mainNavList-itemInner} {
        background-color: var(--skypecord-avatar-bg)!important; /* Override inline style on guilds w/ no icon */
        a {
            color: $accent;
        }
    }
    #{$mainNavList-indicator} {
        background-color: var(--skypecord-unread-indicator-bg);
        opacity: 1!important;
    }
    #{$mainNavList-actionButton},
    #{$mainNavList-actionButton}:hover,
    #{$mainNavList-actionButton}#{$mainNavList-homeSelected},
    #{$mainNavList-actionButton}#{$mainNavList-guildNoIconSelected},
    #{$mainNavList-actionButton}#{$mainNavList-actionSelected} {
        background-color: var(--skypecord-avatar-bg);
        color: $accent;
    }
    #{$mainNavList-itemIcon} {
        background-color: $accent;
        color: $alt-fg;
    }
    #{$mainNavList-itemAcronym},
    #{$mainNavList-homeIcon} {
        color: $accent;
    }
    #{$mainNavList-itemAcronym},
    #{$mainNavList-homeButton} {
        &,
        &#{$mainNavList-homeSelected},
        &#{$mainNavList-guildNoIconSelected},
        &#{$mainNavList-actionSelected} {
            background-color: var(--skypecord-avatar-bg);
            color: $accent;
        }
    }
}