#{$mainNavList-wrapper} {
    border-radius: 0;
    border-right: 1px solid;
    width: 200px;
    box-sizing: border-box;
    #{$client-macOs} & {
        margin-top: 0;
    }
}

#{$mainNavList-scrollerWrap} {
    width: calc(100% + 2px); // added scrollbar width
}

#{$mainNavList-item} {
    width: 200px;
    justify-content: flex-start;
    padding-left: 8px;
    margin: 0;
    padding: 4px 8px;
}

// #{$mainNavList-itemInner} {
//     width: 168px;
// }

#{$mainNavList-itemSvg} {
    overflow: visible;
}

#{$mainNavList-itemButton},
#{$mainNavList-actionButton} {
    &::after {
        content: attr(aria-label);
        position: absolute;
        left: calc(100% + 4px);
        font-size: 15px;
        font-weight: 500;
        color: var(--skypecord-main-fg);
        width: 134px;
        line-height: 48px;
        overflow: hidden;
        white-space: nowrap;
        -webkit-mask-image: linear-gradient(to left, transparent 0, #000 20px);
        mask-image: linear-gradient(-90deg, transparent 0, #000 20px);
    }
}

#{$mainNavList-indicatorWrapper},
#{$mainNavList-homeIndicatorWrapper},
#{$mainNavList-actionIndicatorWrapper} {
    width: 220px;
    height: 56px;
}

%main-nav-list-item-selected {
    width: 100%;
    height: 100%!important;
}

@for $i from 9 through 40 {
    #{$mainNavList-indicator} {
        [style*="height: #{$i}"] {
            &[style*='opacity: 1'],
            &[style*='opacity: 0.9'],
            &[style*='opacity: 0.8'] {
               @extend %main-nav-list-item-selected;
            }
        }
        .bd-guild .bd-selected & {
            @extend %main-nav-list-item-selected;
        }
    }
}

#{$mainNavList-indicator} {
    border-radius: 0;
    height: 8px!important;
    #{$mainNavList-item}.bd-guild:not(.bd-unread):not(.bd-selected) & /* BandagedBD */ {
        display: none;
    }
}

#{$mainNavList-itemIcon},
#{$mainNavList-actionButton},
#{$mainNavList-homeButton},
#{$mainNavList-itemAcronym} {
    border-radius: 50%;
}

#{$mainNavList-badgeWrapper} {
    width: 188px;
}

#{$mainNavList-lowerBadge} {
    top: 17px;
}

#{$mainNavList-separater} {
    width: calc(100% - 16px);
    border-radius: 0;
}

#{$client-macOs} #{$mainNavList-scroller} {
    padding-top: 4px;
}

#{$mainNavList-itemInner} {
    border-radius: 50%;
    foreignObject {
        mask: none;
        x: -76px;
    }
}

#{$mainNavList-itemSvg} {
    width: 200px;
}

#{$mainNavList-itemInner} {
    font-weight: 600;
}

#{$mainNavList-itemInnerContainer}:active {
    transform: none;
}

#{$main-app} {
    #{$mainNavList-wrapper} {
        background-color: var(--skypecord-sidebar-bg);
        border-color: var(--skypecord-border-fg);
    }
    #{$mainNavList-itemInner} {
        background-color: var(--skypecord-avatar-bg)!important; /* Override inline style on guilds w/ no icon */
        a {
            color: $accent;
        }
    }
    #{$mainNavList-indicator} {
        background-color: var(--skypecord-indicator-bg);
        opacity: 1!important;
    }
    #{$mainNavList-actionButton},
    #{$mainNavList-actionButton}:hover,
    #{$mainNavList-actionButton}#{$mainNavList-homeSelected},
    #{$mainNavList-actionButton}#{$mainNavList-guildNoIconSelected},
    #{$mainNavList-actionButton}#{$mainNavList-actionSelected} {
        background-color: var(--skypecord-avatar-bg);
        color: $accent;
    }
    #{$mainNavList-itemIcon} {
        background-color: $accent;
        color: $alt-fg;
    }
    #{$mainNavList-itemAcronym},
    #{$mainNavList-homeIcon} {
        color: $accent;
    }
    #{$mainNavList-itemAcronym},
    #{$mainNavList-homeButton} {
        &,
        &#{$mainNavList-homeSelected},
        &#{$mainNavList-guildNoIconSelected},
        &#{$mainNavList-actionSelected} {
            background-color: var(--skypecord-avatar-bg);
            color: $accent;
        }
    }
    #{$mainNavList-item}:hover {
        background-color: var(--skypecord-sidebar-item-hov-bg);
    }
    %nav-list-item-selected-colors {
        background-color: var(--skypecord-sidebar-item-sel-bg);
    }
    @for $i from 9 through 40 {
        #{$mainNavList-indicator} {
            [style*="height: #{$i}"] {
                &[style*='opacity: 1'],
                &[style*='opacity: 0.9'],
                &[style*='opacity: 0.8'] {
                    @extend %nav-list-item-selected-colors;
                }
            }
        }
        .bd-guild .bd-selected #{$mainNavList-indicator} {
            @extend %nav-list-item-selected-colors;
        }
    }
}