#{$client-headerBar} {
    height: 88px;
    padding-left: 20px;
    padding-right: 24px;
}

#{$client-headerTitle} {
    flex-direction: column;
}

#{$client-topic} {
    padding-left: 0;
    margin-left: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    top: 0;
    strong {
        font-weight: 800;
    }
    &::before {
        display: none;
    }
}

#{$main-app} {
    #{$chat-searchBarWrapper} #{$search-bar},
    #{$library-filterInput},
    #{$store-browseSearchInput} {
        background-color: transparent;
    }
    #{$chat-headerButtonIconWrapper}::after {
        background-color: var(--skypecord-header-button-bg);
    }
    #{$chat-channelName},
    #{$client-headerTitle} {
        color: var(--skypecord-header-title-fg);
    }
    #{$client-topic} {
        color: var(--skypecord-header-topic-fg);
    }
}

#{$chat-headerButtonIconWrapper} {
    position: relative;
    margin-left: 24px;
    margin-right: 0;
    #{$chat-headerButtonDivider} + & {
        margin-left: 18px;
    }
    svg {
        position: relative;
        z-index: 2;
    }
    + #{$chat-searchBarWrapper} {
        margin-left: 18px;
    }
    &::after {
        content: '';
        z-index: 1;
        position: absolute;
        top: -8px;
        left: -8px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        #{$client-headerBar} #{$property-flexLayout} > div &,
        a & {
            top: -15px;
        }
    }
}

#{$chat-titleText},
#{$client-headerTitle} {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

#{$chat-channelName} {
    height: 30px;
    svg {
        display: none;
    }
}

#{$chat-searchBarIcon} {
    order: -1;
    margin-right: 0;
    margin-left: 0;
}

#{$library-filterIcon},
#{$store-browseSearchIcon} {
    right: unset;
    left: 6px;
}

#{$library-filter} #{$library-filterInput},
#{$store-browseSearch} #{$store-browseSearchInput} {
    padding-left: 30px;
    padding-right: 0;
}

.title-3qD0b- .input-autosize-input,
.titleCall-_b9o8P .input-autosize-input {
    font-size: inherit;
}