#{$client-headerBar} {
    height: 88px;
}

#{$client-headerTitle} {
    flex-direction: column;
}

#{$client-topic} {
    padding-left: 0;
    margin-left: 0;
    &::before {
        display: none;
    }
}

#{$main-app} {
    #{$chat-searchBarWrapper} #{$search-bar},
    #{$library-filterInput},
    #{$store-browseSearchInput} {
        background-color: transparent;
    }
}

#{$chat-titleText} {
    font-size: 24px;
    line-height: 28px;
}

#{$chat-channelName} {
    height: 30px;
    svg {
        display: none;
    }
}

#{$chat-searchBarIcon} {
    order: -1;
    margin-right: 0;
    margin-left: 0;
}

#{$library-filterIcon},
#{$store-browseSearchIcon} {
    right: unset;
    left: 6px;
}

#{$library-filter} #{$library-filterInput},
#{$store-browseSearch} #{$store-browseSearchInput} {
    padding-left: 30px;
    padding-right: 0;
}

.title-3qD0b- .input-autosize-input,
.titleCall-_b9o8P .input-autosize-input {
    font-size: inherit;
}