#{$main-app} {
    #{$membersList} {
        background-color: var(--skypecord-sidebar-bg);
        border-color: var(--skypecord-border-fg);
    }
    
    #{$membersList-membersGroup} {
        color: var(--skypecord-header-fg);
    }

    #{$membersList-member}:hover {
        background-color: var(--skypecord-sidebar-item-hov-bg);
    }

    #{$membersList-member}.popout-open,
    #{$membersList-member}.popout-open:hover {
        background-color: var(--skypecord-sidebar-item-sel-bg);
    }
}

#{$membersList} {
    border-left: 1px solid;
}

#{$membersList-membersGroup} {
    font-weight: 600;
    font-size: 12px;
}

#{$membersList-member} {
    margin-left: 0;
    padding-left: 8px; /* Replace margin left w/ equivalent padding left */
    border-radius: 0;
}