/* Server Folders by DevilBro (BetterDiscord) */
#{$mainNavList-wrapper}.foldercontentclosed {
    border-right: 0;
}

/* Joined Date & Created Date by DevilBro */
.theme-light,
.theme-dark {
    #{$modal-topSectionNormal},
    #{$modal-topSectionSpotify},
    #{$modal-topSectionPlaying},
    #{$modal-topSectionStreaming} {
        &,
        &:not(.topSectionNormal-2-vo2m) {
            .joinedAtDate,
            .creationDate {
                color: $alt-fg;
            }
        }
    }
}

/* OnlineFriendCount by Zerthox */
#{$main-app} {
    .friendsOnline-2JkivW {
        color: var(--skypecord-main-fg);
    }
}