#{$chat-guildMenu} {
    border-radius: 0;
}

#{$chat-guildMenuItem} {
    padding: 10px 13px;
    font-size: 14px;
    line-height: 17px;
}

#{$searchPopout-option} {
    border-radius: 0;
    margin: 0;
    padding: 10px 13px;
    font-size: 14px;
    line-height: 17px;
    height: unset;
}

#{$searchPopout-container}:empty {
    display: none;
}

#{$searchPopout-resultsGroup} #{$searchPopout-learnMore} {
    top: 12px;
    transform: translateY(-50%);
}

.theme-light,
.theme-dark {
    #{$searchPopout-container} {
        box-shadow: none;
    }
    #{$searchPopout-calenderPicker} .react-datepicker,
    #{$searchPopout-calenderPicker} .react-datepicker__header {
        background-color: transparent;
    }

    #{$chat-guildMenu},
    #{$searchPopout-container},
    #{$client-themedPopout} {
        background-color: var(--skypecord-menu-bg);
    }
    #{$searchPopout-option} {
        &::after {
            display: none;
        }
    }
    #{$chat-guildMenuItem} {
        &,
        &:not(#{$chat-guildMenuInviteItem}):not(#{$chat-guildMenuLeaveItem}):hover {
            color: var(--skypecord-main-fg);
        }
        &:hover {
            background-color: var(--skypecord-menu-item-bg);
        }
    }
    #{$searchPopout-option} {
        &:hover,
        &#{$searchPopout-optionSelected} {
            background-color: var(--skypecord-menu-item-bg);
            #{$searchPopout-answer},
            &#{$searchPopout-user} #{$searchPopout-displayUsername} {
                color: var(--skypecord-main-fg);
            }
        }
        #{$searchPopout-filter},
        &#{$searchPopout-user} #{$searchPopout-displayNick} {
            color: var(--skypecord-main-fg);
        }
        #{$searchPopout-answer},
        &#{$searchPopout-user} #{$searchPopout-displayUsername} {
            color: var(--skypecord-secondary-fg);
        }
    }
    #{$searchPopout-resultsGroup} {
        #{$searchPopout-header},
        #{$searchPopout-learnMore} a,
        #{$searchPopout-clearHistory},
        #{$searchPopout-plusIcon} {
            color: var(--skypecord-header-fg);
        }
    }
    #{$client-themedPopout} {
        box-shadow: none;
    }
}