#{Main(app)} {
    #{SearchBoxes(searchBar, 2)} {
        background-color: var(--skypecord-input-box-bg);
    }
    #{Channels(channels)} {
        background-color: var(--skypecord-sidebar-bg);
    }
    #{PrivateChannels(linkButtonIcon)} {
        opacity: 1;
    }
    #{PrivateChannelsList(privateChannels)} header {
        color: var(--skypecord-header-fg);
        opacity: 1;
    }
    #{PrivateChannels(channel)}:not([style^='height']) {
        &:hover {
            background-color: transparent;
        }
        &#{PrivateChannels(selected)} {
            background-color: transparent;
            #{PrivateChannels(name)} {
                color: $accent;
            }
        }
        a {
            color: var(--skypecord-icon-fg)
        }
    }
    #{PrivateChannels(channel)} {
        &:hover {
            background-color: var(--skypecord-sidebar-item-hov-bg);
        }
        &:hover a {
            background-color: transparent;
        }
        #{PrivateChannels(name)},
        #{PrivateChannels(activity)} {
            color: var(--skypecord-main-fg);
        }
        &#{PrivateChannels(selected)} {
            background-color: var(--skypecord-sidebar-item-sel-bg);
            a {
                background-color: transparent;
                color: $accent;
            }
            #{PrivateChannels(name)},
            #{PrivateChannels(activity)} {
                color: var(--skypecord-main-fg);
            }
        }
    }
}

#{PrivateChannelsList(privateChannels)} header:first-of-type {
    font-weight: 600;
    height: 100%;
    border-top: 1px solid var(--skypecord-nav-divider-fg);
    padding-top: 10px;
    margin-top: 8px;
}

#{PrivateChannelsList(privateChannels)} #{ScrollableContent(scroller)} {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
}

#{PrivateChannels(linkButtonIcon)} {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#{PrivateChannelsList(privateChannels)} header,
#{PrivateChannels(channel)}[style^='height'] {
    grid-column: 1/-1;
}

#{PrivateChannelsList(privateChannels)} #{ScrollableContent(scroller)} [style='width: 100%; height: 20px;'] {
    display: none;
}

#{PrivateChannels(channel)}:not([style^='height']) {
    height: 50px;
    margin-bottom: -5px;
}

#{PrivateChannels(channel)}:not([style^='height']) #{PrivateChannels(name)} {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(calc(-50% + 2px));
}

#{DownloadProgressContainer(progressCircleWrapper)} {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px
}