//In themed Popouts
#{$main-themeLight},
#{$main-themeDark} {
    #{$emojiPicker-searchBar},
    #{$privateChannelList-searchBar} {
        background-color: var(--skypecord-input-box-bg);
        #{$chat-searchBarInput} {
            color: var(--skypecord-main-fg);
            &::placeholder {
                color: var(--skypecord-placeholder-fg);
            }
        }
    }
}

#{$main-app} {
    #{$privateChannelList-searchBarWrapper} {
        box-shadow: none;
    }
    #{$channelList} {
        background-color: var(--skypecord-sidebar-bg);
    }
    #{$privateChannelList-linkButtonIcon} {
        opacity: 1;
    }
    #{$privateChannelList} header {
        color: var(--skypecord-header-fg);
        opacity: 1;
    }
    #{$privateChannelList-channel}:not([style^='height']) {
        &:hover {
            background-color: transparent;
        }
        &#{$privateChannelList-channelSelected} {
            background-color: transparent;
            #{$privateChannelList-channelName} {
                color: $accent;
            }
        }
        a {
            color: var(--skypecord-icon-fg)
        }
    }
    #{$privateChannelList-channel} {
        &:hover {
            background-color: var(--skypecord-sidebar-item-hov-bg);
        }
        &:hover a {
            background-color: transparent;
        }
        #{$privateChannelList-channelName},
        #{$privateChannelList-channelActivity} {
            color: var(--skypecord-main-fg);
        }
        &#{$privateChannelList-channelSelected} {
            background-color: var(--skypecord-sidebar-item-sel-bg);
            a {
                background-color: transparent;
                color: $accent;
            }
            #{$privateChannelList-channelName},
            #{$privateChannelList-channelActivity} {
                color: var(--skypecord-main-fg);
            }
            #{$privateChannelList-channelActivityIconForeground} {
                fill: var(--skypecord-main-fg);
            }
        }
    }
    #{$privateChannelList-channelClose} {
        background-image: var(--skypecord-close-icon-2);
    }
    #{$privateChannelList-channelActivityIconForeground} {
        fill: var(--skypecord-main-fg);
    }
    #{$privateChannelList-channel}:hover #{$privateChannelList-channelActivityIconForeground} {
        fill: var(--skypecord-main-fg);
    }
}

#{$privateChannelList-channelClose} {
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
}

#{$emojiPicker-searchBar},
#{$privateChannelList-searchBar} {
    #{$chat-searchBarInput} {
        font-size: 12px;
    }
}

#{$privateChannelList} header:first-of-type {
    font-weight: 600;
    border-top: 1px solid var(--skypecord-nav-divider-fg);
    padding-top: 10px;
    margin-top: 50px;
}

#{$privateChannelList-linkButtonIcon} {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 50%;
    transform: translateX(-50%);
}


#{$privateChannelList} #{$client-scroller} [style='width: 100%; height: 20px;'] {
    display: none;
}

#{$privateChannelList-channel}:not([style^='height']) {
    height: 50px;
    margin-bottom: -5px;
    width: 25%;
    float: left;
}

#{$privateChannelList-channel}:not([style^='height']) #{$privateChannelList-channelName} {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(calc(-50% + 2px));
}

#{$library-downloadProgressCircleWrapper} {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px
}