%settings-tab-item-colors {
    border-color: var(--skypecord-border-fg);
    color: var(--skypecord-main-fg);
}

%settings-tab-item-hover-colors {
    background-color: transparent;
    color: var(--skypecord-secondary-fg);
}

%settings-tab-item-selected-colors {
    background-color: var(--skypecord-sidebar-item-sel-bg);
}

%settings-tab-separator-colors {
    background: none;
}

#{$main-themeLight},
#{$main-themeDark} {
    #{$settings-header} {
        color: var(--skypecord-header-fg);
    }
    #{$settingsOptionPanel-title},
    #{$authorizedApp} #{$authorizedApp-headerInfo} #{$settingsOption-formText} {
        color: var(--skypecord-header-title-fg);
    }
    #{$settingsOption-description},
    #{$settingsOption-labelDescriptor},
    #{$authorizedApp} #{$settingsOption-formText},
    #{$formCard-formNotice} #{$settingsOption-formText} {
        color: var(--skypecord-description-fg);
    }
    #{$settings-itemThemed}#{$settings-itemSelected}#{$settings-item} {
        &,
        &:hover {
            color: var(--skypecord-main-fg)
        }
    }
    #{$settings-side},
    #{$settings-topPill} {
        #{$settings-itemThemed}#{$settings-itemSelected}#{$settings-item} {
            &,
            &:hover {
                background-color: var(--skypecord-sidebar-item-sel-bg);
            }
        }
        #{$settings-itemThemed}#{$settings-item}:hover {
            @extend %settings-tab-item-hover-colors;
        }
    }
    #{$settings-sidebarRegion} {
        background-color: var(--skypecord-sidebar-bg);
    }
    #{$settings-contentRegion} {
        background-color: var(--skypecord-content-region-bg);
    }
    #{$settings-side} {
        #{$settings-item} {
            @extend %settings-tab-item-colors;
        }
        #{$settings-separator} {
            @extend %settings-tab-separator-colors;
        }
    }
    #bd-settings-sidebar /* BandagedBD */ {
        [style*='color: rgb(114, 118, 125);'] {
            color: var(--skypecord-secondary-fg)!important;
        }
        .ui-tab-bar-item {
            &,
            &:hover,
            &.selected,
            &.selected:hover {
                @extend %settings-tab-item-colors;
            }
            &:hover {
                @extend %settings-tab-item-hover-colors;
            }
            &.selected,
            &.selected:hover {
                @extend %settings-tab-item-selected-colors;
            }
        }
        .ui-tab-bar-separator {
            @extend %settings-tab-separator-colors;
        }
    }
    #{$settings-closeButton}:hover {
        background-color: transparent;
    }
    
    #{$card-primary} {
        background-color: transparent;
        border-color: var(--skypecord-border-fg);
    }

    #{$card-primaryEditable} {
        background-color: transparent!important;
        border-color: transparent!important;
        &[style*='background-color: rgb(240, 71, 71)'] #{$radioBox-titleChecked} {
            color: rgb(240, 71, 71)!important;
        }
        &[style*='background-color: rgb(250, 166, 26)'] #{$radioBox-titleChecked} {
            color: rgb(250, 166, 26)!important;
        }
        &[style*='background-color: rgb(67, 181, 129)'] #{$radioBox-titleChecked} {
            color: rgb(67, 181, 129)!important;
        }
    }

    #{$card-primaryEditable}:not(:last-child) {
        border-bottom-color: var(--skypecord-border-fg)!important
    }

    #{$radioBox-radioGroup} {
        color: var(--skypecord-main-fg);
    }

    #{$radioInput-checkBox} {
        border-color: var(--skypecord-border-fg);
    }
    #{$radioInput-checked} {
        background-color: $accent;
        &[style*='border-color: rgb(240, 71, 71)'] {
            background-color: rgb(240, 71, 71);
        }
        &[style*='border-color: rgb(250, 166, 26)'] {
            background-color: rgb(250, 166, 26);
        }
        &[style*='border-color: rgb(67, 181, 129)'] {
            background-color: rgb(67, 181, 129);
        }
        [name="Checkmark"] polyline {
            stroke: $alt-fg;
        }
    }

    #{$radioBox-titleChecked} {
        color: var(--skypecord-main-fg)!important;
    }

    #{$radioBox-desc} {
        color: var(--skypecord-description-fg);
    }

    #{$slider-bar} {
        background-color: var(--skypecord-slider-bg);
    }

    #{$slider-barFill} {
        background: $accent;
    }

    #{$slider-grabber} {
        background-color: var(--skypecord-slider-grabber-bg);
        border-color: var(--skypecord-slider-grabber-bg);
        box-shadow: none;
    }

    #{$slider-markValue} {
        color: var(--skypecord-secondary-fg);
    }

    #{$toggle-themeDefault} {
        background-color: var(--skypecord-toggle-bg);
        &#{$toggle-valueChecked} {
            background-color: $accent;
        }
    }

    #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch /* BandagedBD */ {
        background-color: var(--skypecord-toggle-bg);
    }

    #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked /* BandagedBD */ {
        background-color: $accent;
    }

    #{$accountConnection} #{$optionItems-title} {
        color: $alt-fg;
    }

    #{$overlayNotificationSettingItems-wrapper} {
        background-color: transparent;
        border-color: $accent;
    }

    #{$overlayNotificationSettingItems-option} {
        box-shadow: none;
        &:hover {
            background-color: $accent;
        }
    }

    #{$overlayNotificationSettingItems-selected} {
        background-color: darken($accent, 1%);
        border-color: $accent;
    }

    #{$gameDetection-notDetected} {
        background-color: $accent;
    }

    #{$usageGraph-foreground} {
        stroke: $accent;
    }
}

#{$gameDetection-notDetected},
#{$gameDetection-nowPlaying} {
    border-radius: 10px;
}

#{$card} {
    border-radius: 10px;
}

#{$radioBox-item} {
    border-radius: 0;
    border-bottom: 1px solid;
    padding: 10px 0!important;
}

#{$radioInput-checkBox} {
    border-radius: 50%;
}

#{$radioBox-title} {
    font-weight: 700;
    font-size: 15px;
}

#{$slider-bar} {
    position: relative;
    height: 10px;
    border-radius: 5px;
    top: 15px;
}

#{$slider-barFill} {
    clip-path: inset(0 0 0 0); /* fake overflow hidden, due to being statically positioned, and it needing to remain so for the slider's style to work right */
    &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: $slider-bg;
    }
}

#{$slider-grabber} {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border-width: 1px;
    transform: translateX(-8px);
}

#{$slider-mark} {
    top: -8px;
}

#{$slider-markValue} {
    padding-left: 0;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
}

#{$slider-markDash} {
    display: none;
}

#{$toggle-sizeDefault} {
    width: 40px;
    height: 18px;
    &::after {
        width: 10px;
        height: 10px;
    }
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper /* BandagedBD */ {
    width: 40px;
    height: 18px;
    align-self: center;
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before /* BandagedBD */ {
    width: 10px;
    height: 10px;
}

#{$toggle-switch} {
    align-self: center;
    &::after {
        left: 2px;
        top: 1px;
    }
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before /* BandagedBD */ {
    top: 4px;
    left: 4px;
}

#{$toggle-valueChecked}::after,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked:before /* BandagedBD */ {
    left: 5px;
}

#{$client-layer}:first-child {
    opacity: 1!important;
    transform: unset!important;
}

#{$client-layer} {
    &.stop-animations,
    &.publicServersOpen /* BandagedBD */ {
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 101;
            position: absolute;
            #{$main-themeLight} &,
            #{$main-themeDark} & {
                background-color: rgba(0,0,0,0.5);
            }
        }
    }
}

%settings-tab-item {
    margin-bottom: 0;
    border-radius: 0;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

%settings-top-tab-item {
    border-top: none;
}

#{$settings-side} {
    #{$settings-item} {
        @extend %settings-tab-item;
    }
    #{$settings-header},
    #{$settings-separator} {
        + #{$settings-item} {
            @extend %settings-top-tab-item;
        }
    }
}

#bd-settings-sidebar /* BandagedBD */ {
    .ui-tab-bar-item {
        @extend %settings-tab-item;
    }
    .ui-tab-bar-header,
    .ui-tab-bar-separator {
        + .ui-tab-bar-item {
            @extend %settings-top-tab-item;
        }
    }
}

#{$settings-sidebar} {
    padding: 45px 0;
    width: 100%;
}

#{$settings-sidebarRegion},
#{$settings-sidebarRegionScroller} {
    -webkit-box-pack: initial;
    justify-content: stretch;
}

#{$client-win} #{$settings-standardSidebarView} {
    top: 0;
}
#{$settings-contentRegion} {
    z-index: auto;
}
#{$settings-toolsContainer} {
    height: 0;
    width: 0;
    padding: 0;
    flex: 0;
}
#{$settings-closeKeybind} {
    display: none;
}
#{$settings-contentRegionScroller} #{$settings-tools} {
    position: static;
}
#{$settings-closeButton} {
    position: fixed;
    cursor: default;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    z-index: -1;
    border: none;
    svg {
        display: none;
    }
}

#{$client-layers} > #{$client-layer}:last-of-type:not(:only-of-type),
#pubslayer /* BandagedBD */ {
    height: 700px;
    width: 1100px;
    top: calc(50% - 350px);
    left: calc(50% - 550px);
    border-radius: 3px;
    z-index: 102;
    transform: none!important;
    #{$client-win} &,
    #{$client-macOs} & {
        top: calc(50% - 350px - 9px);
    }
}