#{$client-winTitlebar} {
    height: 27px;
}

#{$client-winButton} {
    height: 31px;
    width: 45px;
}

#{$client-wordmark}::after {
    content: 'Skypecord';
    color: #fff;
    position: absolute;
    font-size: 12px;
    z-index: 1001;
    width: 570px;
    height: 40px;
    top: 10px;
    left: 8px;
}

#{$client-wordmark} svg {
    display: none;
}