#{$client-winTitleBar} {
    height: 28px;
}

#{$client-macOSTitleBar} {
    position: static;
    height: 32px;
}

#{$client-win},
#{$client-macOs} {
    #{$main-themeLight},
    #{$main-themeDark} {
        &::before {
            background-color: var(--skypecord-windows-titlebar-bg);
            content: '';
            padding-top: 10px;
            padding-bottom: 10px;
            left: 0;
            top: 0;
        }
        &::before,
        &::after {
            color: var(--skypecord-windows-titlebar-fg);
            font-size: 12px;
            font-weight: 600;
        }
    }
}

#{$client-win} #{$main-themeLight},
#{$client-win} #{$main-themeDark} {
    &::before,
    &::after {
        position: fixed;
        content: '';
        height: 32px;
        right: 0;
        top: 0;
        box-sizing: border-box;
    }
    &::after {
        width: 135px;
        content: var(--skypecord-minimize-icon) var(--skypecord-window-control-spacer) var(--skypecord-maximize-icon) var(--skypecord-window-control-spacer) var(--skypecord-close-icon);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &::before {
        content: var(--skypecord-titlebar-text);
        font-size: 12px;
        font-weight: 600;
        padding-left: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
        //border: 1px solid $window-decoration-border;
        border-bottom: none;
    }
}

#{$client-macOs} #{$main-themeLight},
#{$client-macOs} #{$main-themeDark} {
    &::before {
        position: fixed;
        content: '';
        height: 32px;
        right: 0;
        top: 0;
        box-sizing: border-box;
    }
    &::after {
        position: fixed;
        content: var(--skypecord-titlebar-text);
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

#{$client-winButton} {
    height: 32px;
    width: 45px;
    opacity: 0;
    cursor: default;
    &:hover {
        background-color: #{$window-control-hover-bg};
    }
}

#{$client-winButtonClose}:hover {
    background-color: #{$window-close-hover-bg};
}

#{$client-wordmark} svg {
    display: none;
}